In [1]:
import yfinance as yf

start_date = '2001-01-01'
end_date = '2024-03-25'

kospi_data = yf.download('^KS11', start=start_date, end=end_date)

[*********************100%%**********************]  1 of 1 completed

In [7]:
kospi_data = kospi_data.resample('M').first()
kospi_data.drop(columns=['Open','High','Low','Volume'], inplace=True)
kospi_data

/var/folders/lj/ms0l79910fz22cg2hchczhw40000gn/T/ipykernel_94080/2043389184.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  kospi_data = kospi_data.resample('M').first()

                  Close    Adj Close
Date
2001-01-31   520.950012   520.950012
2001-02-28   612.299988   612.299988
2001-03-31   559.440002   559.440002
2001-04-30   515.200012   515.200012
2001-05-31   583.700012   583.700012
...                 ...          ...
2023-11-30  2301.560059  2301.560059
2023-12-31  2505.010010  2505.010010
2024-01-31  2669.810059  2669.810059
2024-02-29  2542.459961  2542.459961
2024-03-31  2674.270020  2674.270020

[279 rows x 2 columns]

In [8]:
kospi_data['kospiRtn'] = kospi_data['Adj Close'].pct_change()
kospi_data

                  Close    Adj Close  kospiRtn
Date
2001-01-31   520.950012   520.950012       NaN
2001-02-28   612.299988   612.299988  0.175353
2001-03-31   559.440002   559.440002 -0.086330
2001-04-30   515.200012   515.200012 -0.079079
2001-05-31   583.700012   583.700012  0.132958
...                 ...          ...       ...
2023-11-30  2301.560059  2301.560059 -0.043285
2023-12-31  2505.010010  2505.010010  0.088397
2024-01-31  2669.810059  2669.810059  0.065788
2024-02-29  2542.459961  2542.459961 -0.047700
2024-03-31  2674.270020  2674.270020  0.051844

[279 rows x 3 columns]

In [9]:
kospi_data.isna().sum()

Close        0
Adj Close    0
kospiRtn     1
dtype: int64