In [2]:
import pandas as pd

data = pd.read_csv('csv/real_data.csv')
data.drop(columns=['회사명','회계년도'], inplace=True)
data.columns=['종목코드','배당성향','연결자본','연도','시가총액','종목명','기업구분','PBR']

/var/folders/lj/ms0l79910fz22cg2hchczhw40000gn/T/ipykernel_99995/2013345346.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
pbr_drop = data[data['PBR'] < 0.2].index
data.drop(pbr_drop, inplace=True)
data.reset_index(drop=True, inplace=True)
data

      종목코드  배당성향         연결자본    연도          시가총액    종목명 기업구분       PBR
0      990   0.0  835716158.0  2007  3.585737e+11  DB하이텍    B  0.429062
1      990   0.0  607545037.0  2009  2.668661e+11  DB하이텍    S  0.439253
2      990   0.0  398016157.0  2010  4.570225e+11  DB하이텍    B  1.148251
3      990   0.0  308061688.0  2011  3.101546e+11  DB하이텍    S  1.006794
4      990   0.0  290893335.0  2012  3.101546e+11  DB하이텍    S  1.066214
...    ...   ...          ...   ...           ...    ...  ...       ...
6882  3280   0.0   73148175.0  2018  7.060866e+10   흥아해운    S  0.965283
6883  3280   0.0   30919383.0  2019  5.392606e+10   흥아해운    S  1.744086
6884  3280   0.0  102939788.0  2021  6.491472e+11   흥아해운    S  6.306087
6885  3280   0.0  135304736.0  2022  3.257757e+11   흥아해운    S  2.407719
6886  3280   NaN  170714206.0  2023  6.010622e+11   흥아해운    S  3.520868

[6887 rows x 8 columns]

In [5]:
data['배당성향'] = data['배당성향'].fillna(0)
data

      종목코드  배당성향         연결자본    연도          시가총액    종목명 기업구분       PBR
0      990   0.0  835716158.0  2007  3.585737e+11  DB하이텍    B  0.429062
1      990   0.0  607545037.0  2009  2.668661e+11  DB하이텍    S  0.439253
2      990   0.0  398016157.0  2010  4.570225e+11  DB하이텍    B  1.148251
3      990   0.0  308061688.0  2011  3.101546e+11  DB하이텍    S  1.006794
4      990   0.0  290893335.0  2012  3.101546e+11  DB하이텍    S  1.066214
...    ...   ...          ...   ...           ...    ...  ...       ...
6882  3280   0.0   73148175.0  2018  7.060866e+10   흥아해운    S  0.965283
6883  3280   0.0   30919383.0  2019  5.392606e+10   흥아해운    S  1.744086
6884  3280   0.0  102939788.0  2021  6.491472e+11   흥아해운    S  6.306087
6885  3280   0.0  135304736.0  2022  3.257757e+11   흥아해운    S  2.407719
6886  3280   0.0  170714206.0  2023  6.010622e+11   흥아해운    S  3.520868

[6887 rows x 8 columns]

In [8]:
data['1/PBR'] = data['PBR'].apply(lambda x : 'H' if x < 1 else 'L')
data

      종목코드  배당성향         연결자본    연도          시가총액    종목명 기업구분       PBR 1/PBR
0      990   0.0  835716158.0  2007  3.585737e+11  DB하이텍    B  0.429062     H
1      990   0.0  607545037.0  2009  2.668661e+11  DB하이텍    S  0.439253     H
2      990   0.0  398016157.0  2010  4.570225e+11  DB하이텍    B  1.148251     L
3      990   0.0  308061688.0  2011  3.101546e+11  DB하이텍    S  1.006794     L
4      990   0.0  290893335.0  2012  3.101546e+11  DB하이텍    S  1.066214     L
...    ...   ...          ...   ...           ...    ...  ...       ...   ...
6882  3280   0.0   73148175.0  2018  7.060866e+10   흥아해운    S  0.965283     H
6883  3280   0.0   30919383.0  2019  5.392606e+10   흥아해운    S  1.744086     L
6884  3280   0.0  102939788.0  2021  6.491472e+11   흥아해운    S  6.306087     L
6885  3280   0.0  135304736.0  2022  3.257757e+11   흥아해운    S  2.407719     L
6886  3280   0.0  170714206.0  2023  6.010622e+11   흥아해운    S  3.520868     L

[6887 rows x 9 columns]

In [38]:
firm_pbr_data = data.drop(columns=['연결자본','시가총액'])
firm_pbr_data

      종목코드  배당성향    연도    종목명 기업구분       PBR 1/PBR
0      990   0.0  2007  DB하이텍    B  0.429062     H
1      990   0.0  2009  DB하이텍    S  0.439253     H
2      990   0.0  2010  DB하이텍    B  1.148251     L
3      990   0.0  2011  DB하이텍    S  1.006794     L
4      990   0.0  2012  DB하이텍    S  1.066214     L
...    ...   ...   ...    ...  ...       ...   ...
6882  3280   0.0  2018   흥아해운    S  0.965283     H
6883  3280   0.0  2019   흥아해운    S  1.744086     L
6884  3280   0.0  2021   흥아해운    S  6.306087     L
6885  3280   0.0  2022   흥아해운    S  2.407719     L
6886  3280   0.0  2023   흥아해운    S  3.520868     L

[6887 rows x 7 columns]

In [13]:
data['연도'].unique()

array([2007, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018,
       2019, 2020, 2021, 2022, 2023, 2008])

In [14]:
for i in data['연도'].unique() :
    print(i)

2007
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2008

In [39]:
BH = firm_pbr_data.loc[(firm_pbr_data['기업구분'] == 'B') & (firm_pbr_data['1/PBR'] == 'H')].sort_values('연도')
BL = firm_pbr_data.loc[(firm_pbr_data['기업구분'] == 'B') & (firm_pbr_data['1/PBR'] == 'L')].sort_values('연도')
SH = firm_pbr_data.loc[(firm_pbr_data['기업구분'] == 'S') & (firm_pbr_data['1/PBR'] == 'H')].sort_values('연도')
SL = firm_pbr_data.loc[(firm_pbr_data['기업구분'] == 'S') & (firm_pbr_data['1/PBR'] == 'L')].sort_values('연도')

BH.loc[firm_pbr_data['연도'] == 2007]

       종목코드    배당성향    연도       종목명 기업구분       PBR 1/PBR
0       990    0.00  2007     DB하이텍    B  0.429062     H
844    1520    0.00  2007        동양    B  0.465190     H
1199     70   35.40  2007     삼양홀딩스    B  0.689291     H
1344  58650    8.40  2007     세아홀딩스    B  0.312859     H
1754    670    2.10  2007        영풍    B  0.881007     H
1909  16880  159.50  2007        웅진    B  0.750818     H
2449   2020    0.00  2007       코오롱    B  0.833169     H
2665   5810    0.00  2007     풍산홀딩스    B  0.703365     H
2850  20000   12.62  2007        한섬    B  0.891699     H
474   23590    3.90  2007      다우기술    B  0.851535     H
2918   2320   78.06  2007        한진    B  0.924602     H
3233  16380   24.17  2007      KG스틸    B  0.420700     H
3617    270    0.00  2007        기아    B  0.772098     H
3914   6650   25.72  2007      대한유화    B  0.826166     H
3982   1130   16.76  2007      대한제분    B  0.814581     H
4611   6400    0.00  2007     삼성SDI    B  0.638193     H
6068   3240    3.70  2007      태광산업    B  0.924237     H
6638   3300   17.49  2007     한일홀딩스    B  0.791738     H
6650   9830   19.00  2007     한화솔루션    B  0.852466     H
2935   3480    0.00  2007  한진중공업홀딩스    B  0.593349     H
457   72710   21.48  2007     농심홀딩스    B  0.292356     H
3431   2240   10.70  2007      고려제강    B  0.568177     H
82    36530   19.28  2007    SNT홀딩스    B  0.637379     H

In [40]:
BH

       종목코드  배당성향    연도     종목명 기업구분       PBR 1/PBR
0       990   0.0  2007   DB하이텍    B  0.429062     H
844    1520   0.0  2007      동양    B  0.465190     H
1199     70  35.4  2007   삼양홀딩스    B  0.689291     H
1344  58650   8.4  2007   세아홀딩스    B  0.312859     H
1754    670   2.1  2007      영풍    B  0.881007     H
...     ...   ...   ...     ...  ...       ...   ...
4317   4000   0.0  2023  롯데정밀화학    B  0.627894     H
3930   6650   0.0  2023    대한유화    B  0.544994     H
3181  81660   0.0  2023   휠라홀딩스    B  0.920590     H
3150   4800   0.0  2023      효성    B  0.480434     H
6792   4020   0.0  2023    현대제철    B  0.249834     H

[684 rows x 7 columns]

In [41]:
BH = BH.sort_values('연도')
BH.reset_index(drop=True, inplace=True)
BL.reset_index(drop=True, inplace=True)
SH.reset_index(drop=True, inplace=True)
SL.reset_index(drop=True, inplace=True)

BH

      종목코드   배당성향    연도       종목명 기업구분       PBR 1/PBR
0      990   0.00  2007     DB하이텍    B  0.429062     H
1    36530  19.28  2007    SNT홀딩스    B  0.637379     H
2     2240  10.70  2007      고려제강    B  0.568177     H
3    72710  21.48  2007     농심홀딩스    B  0.292356     H
4     3480   0.00  2007  한진중공업홀딩스    B  0.593349     H
..     ...    ...   ...       ...  ...       ...   ...
679  31430   0.00  2023  신세계인터내셔날    B  0.767053     H
680   3090   0.00  2023        대웅    B  0.835630     H
681   9830   0.00  2023     한화솔루션    B  0.753534     H
682   6280   0.00  2023       녹십자    B  0.952462     H
683   4020   0.00  2023      현대제철    B  0.249834     H

[684 rows x 7 columns]

In [35]:
BH[BH['종목코드'] == 3090]

     종목코드   배당성향          연결자본    연도          시가총액 종목명 기업구분       PBR 1/PBR
241  3090  43.02  6.870685e+08  2013  4.651358e+11  대웅    B  0.676986     H
279  3090  37.48  7.087317e+08  2014  5.250221e+11  대웅    B  0.740791     H
339  3090  48.23  8.284794e+08  2015  6.581672e+11  대웅    B  0.794428     H
479  3090  68.33  1.026247e+09  2019  7.529386e+11  대웅    B  0.733682     H
604  3090   7.71  1.279496e+09  2022  1.183189e+12  대웅    B  0.924731     H
680  3090   0.00  1.436799e+09  2023  1.200632e+12  대웅    B  0.835630     H

In [37]:
end = pd.read_csv('csv/month_rtn_data.csv', index_col=0)
end

         종목코드    종목명  sell_rtn    연도        Date
0        5930   삼성전자  0.053459  2001  2001-01-31
1        5930   삼성전자  0.274627  2001  2001-02-28
2        5930   삼성전자 -0.154567  2001  2001-03-31
3        5930   삼성전자  0.105263  2001  2001-04-30
4        5930   삼성전자  0.147870  2001  2001-05-31
...       ...    ...       ...   ...         ...
113547  30790  비케이탑스  0.000000  2023  2023-11-30
113548  30790  비케이탑스  0.000000  2023  2023-12-31
113549  30790  비케이탑스  0.000000  2024  2024-01-31
113550  30790  비케이탑스  0.000000  2024  2024-02-29
113551  30790  비케이탑스  0.000000  2024  2024-03-31

[113552 rows x 5 columns]

In [44]:
BH = pd.merge(BH, end, on=['종목코드','종목명','연도'])
BL = pd.merge(BL, end, on=['종목코드','종목명','연도'])
SH = pd.merge(SH, end, on=['종목코드','종목명','연도'])
SL = pd.merge(SL, end, on=['종목코드','종목명','연도'])

In [45]:
BH

      종목코드  배당성향    연도    종목명 기업구분       PBR 1/PBR  sell_rtn        Date
0      990   0.0  2007  DB하이텍    B  0.429062     H -0.058005  2007-01-31
1      990   0.0  2007  DB하이텍    B  0.429062     H -0.133005  2007-02-28
2      990   0.0  2007  DB하이텍    B  0.429062     H  0.036932  2007-03-31
3      990   0.0  2007  DB하이텍    B  0.429062     H  0.024658  2007-04-30
4      990   0.0  2007  DB하이텍    B  0.429062     H  0.173797  2007-05-31
...    ...   ...   ...    ...  ...       ...   ...       ...         ...
8197  4020   0.0  2023   현대제철    B  0.249834     H  0.070073  2023-08-31
8198  4020   0.0  2023   현대제철    B  0.249834     H  0.036835  2023-09-30
8199  4020   0.0  2023   현대제철    B  0.249834     H -0.035526  2023-10-31
8200  4020   0.0  2023   현대제철    B  0.249834     H -0.090041  2023-11-30
8201  4020   0.0  2023   현대제철    B  0.249834     H  0.046477  2023-12-31

[8202 rows x 9 columns]

In [46]:
import numpy as np

# def weighted_average(group, avg_name, weight_name):
def weighted_average(group, avg_name, _name):
    d = group[avg_name]
    # w = group[weight_name]
    w = group[_name]
    try:
        # return (d * w).sum() / w.sum()
        return d.sum() / w.nunique()
    except ZeroDivisionError:
        return np.nan

In [50]:
# 날짜별 평균치

BH_avgRtn = BH.groupby(['Date']).apply(weighted_average, 'sell_rtn', '종목명').to_frame().reset_index().rename(columns={0:'BH_avgRtn'})
BL_avgRtn = BL.groupby(['Date']).apply(weighted_average, 'sell_rtn', '종목명').to_frame().reset_index().rename(columns={0:'BL_avgRtn'})
SH_avgRtn = SH.groupby(['Date']).apply(weighted_average, 'sell_rtn', '종목명').to_frame().reset_index().rename(columns={0:'SH_avgRtn'})
SL_avgRtn = SL.groupby(['Date']).apply(weighted_average, 'sell_rtn', '종목명').to_frame().reset_index().rename(columns={0:'SL_avgRtn'})

/var/folders/lj/ms0l79910fz22cg2hchczhw40000gn/T/ipykernel_99995/3061062199.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  BH_avgRtn = BH.groupby(['Date']).apply(weighted_average, 'sell_rtn', '종목명').to_frame().reset_index().rename(columns={0:'BH_avgRtn'})
/var/folders/lj/ms0l79910fz22cg2hchczhw40000gn/T/ipykernel_99995/3061062199.py:4: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  BL_avgRtn = BL.groupby(['Date']).apply(weighted_average, 'sell_rtn', '종목명').to_frame().reset_index().rename(columns={0:'BL_avgRtn'})
/var/folders/lj/ms0l79910fz22cg2hchczhw40000gn/T/ipykernel_99995/3061062199.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  SH_avgRtn = SH.groupby(['Date']).apply(weighted_average, 'sell_rtn', '종목명').to_frame().reset_index().rename(columns={0:'SH_avgRtn'})
/var/folders/lj/ms0l79910fz22cg2hchczhw40000gn/T/ipykernel_99995/3061062199.py:6: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  SL_avgRtn = SL.groupby(['Date']).apply(weighted_average, 'sell_rtn', '종목명').to_frame().reset_index().rename(columns={0:'SL_avgRtn'})

In [51]:
from functools import reduce

avgRtn_list = [BH_avgRtn, BL_avgRtn, SH_avgRtn, SL_avgRtn]
avgRtn = reduce(lambda left, right: pd.merge(left, right, on='Date'), avgRtn_list)
# pd.merge([BH_pbr_avgRtn, BL_pbr_avgRtn, SH_pbr_avgRtn, SL_pbr_avgRtn], on='Date',axis=1)
avgRtn

           Date  BH_avgRtn  BL_avgRtn  SH_avgRtn  SL_avgRtn
0    2007-01-31  -0.009333  -0.013218  -0.034468  -0.011113
1    2007-02-28  -0.072702  -0.046897  -0.035410  -0.043808
2    2007-03-31   0.011695   0.038785   0.047344   0.072730
3    2007-04-30   0.072345   0.063045   0.083241   0.083787
4    2007-05-31   0.162974   0.121004   0.101656   0.062188
..          ...        ...        ...        ...        ...
199  2023-08-31  -0.005994   0.068008  -0.058725  -0.009205
200  2023-09-30  -0.022020  -0.007306  -0.000752  -0.019215
201  2023-10-31  -0.036748  -0.064692  -0.067011  -0.087741
202  2023-11-30  -0.025094  -0.039297  -0.031262  -0.039117
203  2023-12-31   0.079740   0.106941   0.065001   0.051751

[204 rows x 5 columns]

In [56]:
avgRtn['Date'] = pd.to_datetime(avgRtn['Date'], format='%Y-%m-%d')
avgRtn['Date']

0     2007-01-31
1     2007-02-28
2     2007-03-31
3     2007-04-30
4     2007-05-31
         ...
199   2023-08-31
200   2023-09-30
201   2023-10-31
202   2023-11-30
203   2023-12-31
Name: Date, Length: 204, dtype: datetime64[ns]

In [70]:
# avgRtn = avgRtn.set_index(avgRtn['Date']).drop(columns='Date')
avgRtn['연도'] = avgRtn.index.year
avgRtn

            BH_avgRtn  BL_avgRtn  SH_avgRtn  SL_avgRtn    연도
Date
2007-01-31  -0.009333  -0.013218  -0.034468  -0.011113  2007
2007-02-28  -0.072702  -0.046897  -0.035410  -0.043808  2007
2007-03-31   0.011695   0.038785   0.047344   0.072730  2007
2007-04-30   0.072345   0.063045   0.083241   0.083787  2007
2007-05-31   0.162974   0.121004   0.101656   0.062188  2007
...               ...        ...        ...        ...   ...
2023-08-31  -0.005994   0.068008  -0.058725  -0.009205  2023
2023-09-30  -0.022020  -0.007306  -0.000752  -0.019215  2023
2023-10-31  -0.036748  -0.064692  -0.067011  -0.087741  2023
2023-11-30  -0.025094  -0.039297  -0.031262  -0.039117  2023
2023-12-31   0.079740   0.106941   0.065001   0.051751  2023

[204 rows x 5 columns]

In [73]:
avgRtn.reset_index(inplace=True)
avgRtn

          Date  BH_avgRtn  BL_avgRtn  SH_avgRtn  SL_avgRtn    연도
0   2007-01-31  -0.009333  -0.013218  -0.034468  -0.011113  2007
1   2007-02-28  -0.072702  -0.046897  -0.035410  -0.043808  2007
2   2007-03-31   0.011695   0.038785   0.047344   0.072730  2007
3   2007-04-30   0.072345   0.063045   0.083241   0.083787  2007
4   2007-05-31   0.162974   0.121004   0.101656   0.062188  2007
..         ...        ...        ...        ...        ...   ...
199 2023-08-31  -0.005994   0.068008  -0.058725  -0.009205  2023
200 2023-09-30  -0.022020  -0.007306  -0.000752  -0.019215  2023
201 2023-10-31  -0.036748  -0.064692  -0.067011  -0.087741  2023
202 2023-11-30  -0.025094  -0.039297  -0.031262  -0.039117  2023
203 2023-12-31   0.079740   0.106941   0.065001   0.051751  2023

[204 rows x 6 columns]

In [74]:
smb = []
hml = []
for i in avgRtn.index :
    SMB = ((avgRtn.loc[i]['SH_avgRtn']) + (avgRtn.loc[i]['SL_avgRtn'])) - ((avgRtn.loc[i]['BH_avgRtn']) + (avgRtn.loc[i]['BL_avgRtn'])) / 2
    smb.append(SMB)
    HML = ((avgRtn.loc[i]['SH_avgRtn']) + (avgRtn.loc[i]['BH_avgRtn'])) - ((avgRtn.loc[i]['SL_avgRtn']) + (avgRtn.loc[i]['BL_avgRtn'])) / 2
    hml.append(HML)

avgRtn['SMB'] = smb
avgRtn['HML'] = hml

avgRtn

,Date,BH_avgRtn,BL_avgRtn,SH_avgRtn,SL_avgRtn,연도,SMB,HML
0,2007-01-31,-0.009333,-0.013218,-0.034468,-0.011113,2007,-0.034305,-0.031635
1,2007-02-28,-0.072702,-0.046897,-0.035410,-0.043808,2007,-0.019418,-0.062759
2,2007-03-31,0.011695,0.038785,0.047344,0.072730,2007,0.094834,0.003281
3,2007-04-30,0.072345,0.063045,0.083241,0.083787,2007,0.099334,0.082170
4,2007-05-31,0.162974,0.121004,0.101656,0.062188,2007,0.021855,0.173034
...,...,...,...,...,...,...,...,...
199,2023-08-31,-0.005994,0.068008,-0.058725,-0.009205,2023,-0.098937,-0.094121
200,2023-09-30,-0.022020,-0.007306,-0.000752,-0.019215,2023,-0.005304,-0.009511
201,2023-10-31,-0.036748,-0.064692,-0.067011,-0.087741,2023,-0.104032,-0.027543
202,2023-11-30,-0.025094,-0.039297,-0.031262,-0.039117,2023,-0.038184,-0.017149
203,2023-12-31,0.079740,0.106941,0.065001,0.051751,2023,0.023412,0.065395