In [144]:
import pandas as pd

data = pd.read_csv('csv/real_data.csv')
data.drop(columns=['회사명','회계년도'], inplace=True)
data.columns=['종목코드','배당성향','연결자본','연도','시가총액','종목명','기업구분','PBR']

In [145]:
pbr_drop = data[data['PBR'] < 0.2].index
data.drop(pbr_drop, inplace=True)
data.reset_index(drop=True, inplace=True)
data

      종목코드  배당성향         연결자본    연도          시가총액    종목명 기업구분       PBR
0      990   0.0  835716158.0  2007  3.585737e+11  DB하이텍    B  0.429062
1      990   0.0  607545037.0  2009  2.668661e+11  DB하이텍    S  0.439253
2      990   0.0  398016157.0  2010  4.570225e+11  DB하이텍    B  1.148251
3      990   0.0  308061688.0  2011  3.101546e+11  DB하이텍    S  1.006794
4      990   0.0  290893335.0  2012  3.101546e+11  DB하이텍    S  1.066214
...    ...   ...          ...   ...           ...    ...  ...       ...
6882  3280   0.0   73148175.0  2018  7.060866e+10   흥아해운    S  0.965283
6883  3280   0.0   30919383.0  2019  5.392606e+10   흥아해운    S  1.744086
6884  3280   0.0  102939788.0  2021  6.491472e+11   흥아해운    S  6.306087
6885  3280   0.0  135304736.0  2022  3.257757e+11   흥아해운    S  2.407719
6886  3280   NaN  170714206.0  2023  6.010622e+11   흥아해운    S  3.520868

[6887 rows x 8 columns]

In [146]:
data['배당성향'] = data['배당성향'].fillna(0)
data

      종목코드  배당성향         연결자본    연도          시가총액    종목명 기업구분       PBR
0      990   0.0  835716158.0  2007  3.585737e+11  DB하이텍    B  0.429062
1      990   0.0  607545037.0  2009  2.668661e+11  DB하이텍    S  0.439253
2      990   0.0  398016157.0  2010  4.570225e+11  DB하이텍    B  1.148251
3      990   0.0  308061688.0  2011  3.101546e+11  DB하이텍    S  1.006794
4      990   0.0  290893335.0  2012  3.101546e+11  DB하이텍    S  1.066214
...    ...   ...          ...   ...           ...    ...  ...       ...
6882  3280   0.0   73148175.0  2018  7.060866e+10   흥아해운    S  0.965283
6883  3280   0.0   30919383.0  2019  5.392606e+10   흥아해운    S  1.744086
6884  3280   0.0  102939788.0  2021  6.491472e+11   흥아해운    S  6.306087
6885  3280   0.0  135304736.0  2022  3.257757e+11   흥아해운    S  2.407719
6886  3280   0.0  170714206.0  2023  6.010622e+11   흥아해운    S  3.520868

[6887 rows x 8 columns]

In [147]:
data['1/PBR'] = data['PBR'].apply(lambda x : 'H' if x < 1 else 'L')
data

      종목코드  배당성향         연결자본    연도          시가총액    종목명 기업구분       PBR 1/PBR
0      990   0.0  835716158.0  2007  3.585737e+11  DB하이텍    B  0.429062     H
1      990   0.0  607545037.0  2009  2.668661e+11  DB하이텍    S  0.439253     H
2      990   0.0  398016157.0  2010  4.570225e+11  DB하이텍    B  1.148251     L
3      990   0.0  308061688.0  2011  3.101546e+11  DB하이텍    S  1.006794     L
4      990   0.0  290893335.0  2012  3.101546e+11  DB하이텍    S  1.066214     L
...    ...   ...          ...   ...           ...    ...  ...       ...   ...
6882  3280   0.0   73148175.0  2018  7.060866e+10   흥아해운    S  0.965283     H
6883  3280   0.0   30919383.0  2019  5.392606e+10   흥아해운    S  1.744086     L
6884  3280   0.0  102939788.0  2021  6.491472e+11   흥아해운    S  6.306087     L
6885  3280   0.0  135304736.0  2022  3.257757e+11   흥아해운    S  2.407719     L
6886  3280   0.0  170714206.0  2023  6.010622e+11   흥아해운    S  3.520868     L

[6887 rows x 9 columns]

In [235]:
firm_data = data.drop(columns=['연결자본','시가총액'])
firm_data

      종목코드  배당성향    연도    종목명 기업구분       PBR 1/PBR
0      990   0.0  2007  DB하이텍    B  0.429062     H
1      990   0.0  2009  DB하이텍    S  0.439253     H
2      990   0.0  2010  DB하이텍    B  1.148251     L
3      990   0.0  2011  DB하이텍    S  1.006794     L
4      990   0.0  2012  DB하이텍    S  1.066214     L
...    ...   ...   ...    ...  ...       ...   ...
6882  3280   0.0  2018   흥아해운    S  0.965283     H
6883  3280   0.0  2019   흥아해운    S  1.744086     L
6884  3280   0.0  2021   흥아해운    S  6.306087     L
6885  3280   0.0  2022   흥아해운    S  2.407719     L
6886  3280   0.0  2023   흥아해운    S  3.520868     L

[6887 rows x 7 columns]

In [236]:
firm_data = firm_data.drop(firm_data[firm_data['배당성향'] < 0].index)
firm_data[firm_data['배당성향'] < 0]

Empty DataFrame
Columns: [종목코드, 배당성향, 연도, 종목명, 기업구분, PBR, 1/PBR]
Index: []

In [237]:
firm_data.reset_index(drop=True, inplace=True)
firm_data.sort_values(by='배당성향', ascending=False)

       종목코드      배당성향    연도    종목명 기업구분       PBR 1/PBR
445    4370  11174.40  2012     농심    B  0.969078     H
2054    220   6172.77  2020   유유제약    S  0.997046     H
5184   6880   5067.25  2015  신송홀딩스    S  0.676405     H
298    1570   3935.22  2007     금양    S  0.973313     H
4979   7610   2752.04  2018   선도전기    S  0.947968     H
...     ...       ...   ...    ...  ...       ...   ...
3159  93370      0.00  2016     후성    B  4.151182     L
3160  93370      0.00  2017     후성    B  4.489259     L
3161  93370      0.00  2018     후성    B  2.798946     L
3163  93370      0.00  2020     후성    B  4.530805     L
6882   3280      0.00  2023   흥아해운    S  3.520868     L

[6883 rows x 7 columns]

In [240]:
firm_data['배당'] = firm_data['배당성향'].apply(lambda x : 'DL' if x <= 26 else 'DH')
firm_data

      종목코드  배당성향    연도    종목명 기업구분       PBR 1/PBR  배당
0      990   0.0  2007  DB하이텍    B  0.429062     H  DL
1      990   0.0  2009  DB하이텍    S  0.439253     H  DL
2      990   0.0  2010  DB하이텍    B  1.148251     L  DL
3      990   0.0  2011  DB하이텍    S  1.006794     L  DL
4      990   0.0  2012  DB하이텍    S  1.066214     L  DL
...    ...   ...   ...    ...  ...       ...   ...  ..
6878  3280   0.0  2018   흥아해운    S  0.965283     H  DL
6879  3280   0.0  2019   흥아해운    S  1.744086     L  DL
6880  3280   0.0  2021   흥아해운    S  6.306087     L  DL
6881  3280   0.0  2022   흥아해운    S  2.407719     L  DL
6882  3280   0.0  2023   흥아해운    S  3.520868     L  DL

[6883 rows x 8 columns]

In [259]:
HDH = firm_data.loc[(firm_data['1/PBR'] == 'H') & (firm_data['배당'] == 'DH')].sort_values('연도')
HDL = firm_data.loc[(firm_data['1/PBR'] == 'H') & (firm_data['배당'] == 'DL')].sort_values('연도')
LDH = firm_data.loc[(firm_data['1/PBR'] == 'L') & (firm_data['배당'] == 'DH')].sort_values('연도')
LDL = firm_data.loc[(firm_data['1/PBR'] == 'L') & (firm_data['배당'] == 'DL')].sort_values('연도')

In [241]:
BDH = firm_data.loc[(firm_data['기업구분'] == 'B') & (firm_data['배당'] == 'DH')].sort_values('연도')
BDL = firm_data.loc[(firm_data['기업구분'] == 'B') & (firm_data['배당'] == 'DL')].sort_values('연도')
SDH = firm_data.loc[(firm_data['기업구분'] == 'S') & (firm_data['배당'] == 'DH')].sort_values('연도')
SDL = firm_data.loc[(firm_data['기업구분'] == 'S') & (firm_data['배당'] == 'DL')].sort_values('연도')

BDH

       종목코드    배당성향    연도      종목명 기업구분       PBR 1/PBR  배당
16    97230   74.97  2007    HJ중공업    B  3.482819     L  DH
4663  28050   30.00  2007  삼성엔지니어링    B  7.291219     L  DH
4679   9150   34.16  2007     삼성전기    B  1.830308     L  DH
3004  10620   27.37  2007   현대미포조선    B  1.850676     L  DH
2917   2320   78.06  2007       한진    B  0.924602     H  DH
...     ...     ...   ...      ...  ...       ...   ...  ..
2258  30000  185.10  2022     제일기획    B  2.170981     L  DH
3630    270   71.83  2022       기아    B  0.610985     H  DH
2340  13890  402.19  2022      지누스    B  1.056482     L  DH
3762   1680   34.02  2022       대상    B  0.573701     H  DH
4169  14820   29.58  2022   동원시스템즈    B  1.613210     L  DH

[525 rows x 8 columns]

In [151]:
BH = firm_data.loc[(firm_data['기업구분'] == 'B') & (firm_data['1/PBR'] == 'H')].sort_values('연도')
BL = firm_data.loc[(firm_data['기업구분'] == 'B') & (firm_data['1/PBR'] == 'L')].sort_values('연도')
SH = firm_data.loc[(firm_data['기업구분'] == 'S') & (firm_data['1/PBR'] == 'H')].sort_values('연도')
SL = firm_data.loc[(firm_data['기업구분'] == 'S') & (firm_data['1/PBR'] == 'L')].sort_values('연도')

BH.loc[firm_data['연도'] == 2007]

       종목코드    배당성향    연도       종목명 기업구분       PBR 1/PBR
0       990    0.00  2007     DB하이텍    B  0.429062     H
844    1520    0.00  2007        동양    B  0.465190     H
1199     70   35.40  2007     삼양홀딩스    B  0.689291     H
1344  58650    8.40  2007     세아홀딩스    B  0.312859     H
1754    670    2.10  2007        영풍    B  0.881007     H
1909  16880  159.50  2007        웅진    B  0.750818     H
2449   2020    0.00  2007       코오롱    B  0.833169     H
2665   5810    0.00  2007     풍산홀딩스    B  0.703365     H
2850  20000   12.62  2007        한섬    B  0.891699     H
474   23590    3.90  2007      다우기술    B  0.851535     H
2918   2320   78.06  2007        한진    B  0.924602     H
3233  16380   24.17  2007      KG스틸    B  0.420700     H
3617    270    0.00  2007        기아    B  0.772098     H
3914   6650   25.72  2007      대한유화    B  0.826166     H
3982   1130   16.76  2007      대한제분    B  0.814581     H
4611   6400    0.00  2007     삼성SDI    B  0.638193     H
6068   3240    3.70  2007      태광산업    B  0.924237     H
6638   3300   17.49  2007     한일홀딩스    B  0.791738     H
6650   9830   19.00  2007     한화솔루션    B  0.852466     H
2935   3480    0.00  2007  한진중공업홀딩스    B  0.593349     H
457   72710   21.48  2007     농심홀딩스    B  0.292356     H
3431   2240   10.70  2007      고려제강    B  0.568177     H
82    36530   19.28  2007    SNT홀딩스    B  0.637379     H

In [152]:
BH

       종목코드  배당성향    연도     종목명 기업구분       PBR 1/PBR
0       990   0.0  2007   DB하이텍    B  0.429062     H
844    1520   0.0  2007      동양    B  0.465190     H
1199     70  35.4  2007   삼양홀딩스    B  0.689291     H
1344  58650   8.4  2007   세아홀딩스    B  0.312859     H
1754    670   2.1  2007      영풍    B  0.881007     H
...     ...   ...   ...     ...  ...       ...   ...
4317   4000   0.0  2023  롯데정밀화학    B  0.627894     H
3930   6650   0.0  2023    대한유화    B  0.544994     H
3181  81660   0.0  2023   휠라홀딩스    B  0.920590     H
3150   4800   0.0  2023      효성    B  0.480434     H
6792   4020   0.0  2023    현대제철    B  0.249834     H

[684 rows x 7 columns]

In [242]:
BH = BH.sort_values('연도')
BH.reset_index(drop=True, inplace=True)
BL.reset_index(drop=True, inplace=True)
SH.reset_index(drop=True, inplace=True)
SL.reset_index(drop=True, inplace=True)

BDH.reset_index(drop=True, inplace=True)
BDL.reset_index(drop=True, inplace=True)
SDH.reset_index(drop=True, inplace=True)
SDL.reset_index(drop=True, inplace=True)

BDH

      종목코드    배당성향    연도      종목명 기업구분       PBR 1/PBR  배당
0    97230   74.97  2007    HJ중공업    B  3.482819     L  DH
1    28050   30.00  2007  삼성엔지니어링    B  7.291219     L  DH
2     9150   34.16  2007     삼성전기    B  1.830308     L  DH
3    10620   27.37  2007   현대미포조선    B  1.850676     L  DH
4     2320   78.06  2007       한진    B  0.924602     H  DH
..     ...     ...   ...      ...  ...       ...   ...  ..
520  30000  185.10  2022     제일기획    B  2.170981     L  DH
521    270   71.83  2022       기아    B  0.610985     H  DH
522  13890  402.19  2022      지누스    B  1.056482     L  DH
523   1680   34.02  2022       대상    B  0.573701     H  DH
524  14820   29.58  2022   동원시스템즈    B  1.613210     L  DH

[525 rows x 8 columns]

In [154]:
BH[BH['종목코드'] == 3090]

     종목코드   배당성향    연도 종목명 기업구분       PBR 1/PBR
241  3090  43.02  2013  대웅    B  0.676986     H
279  3090  37.48  2014  대웅    B  0.740791     H
339  3090  48.23  2015  대웅    B  0.794428     H
479  3090  68.33  2019  대웅    B  0.733682     H
604  3090   7.71  2022  대웅    B  0.924731     H
680  3090   0.00  2023  대웅    B  0.835630     H

In [155]:
end = pd.read_csv('csv/month_rtn_data.csv', index_col=0)
end

         종목코드    종목명  sell_rtn    연도        Date
0        5930   삼성전자  0.053459  2001  2001-01-31
1        5930   삼성전자  0.274627  2001  2001-02-28
2        5930   삼성전자 -0.154567  2001  2001-03-31
3        5930   삼성전자  0.105263  2001  2001-04-30
4        5930   삼성전자  0.147870  2001  2001-05-31
...       ...    ...       ...   ...         ...
113547  30790  비케이탑스  0.000000  2023  2023-11-30
113548  30790  비케이탑스  0.000000  2023  2023-12-31
113549  30790  비케이탑스  0.000000  2024  2024-01-31
113550  30790  비케이탑스  0.000000  2024  2024-02-29
113551  30790  비케이탑스  0.000000  2024  2024-03-31

[113552 rows x 5 columns]

In [156]:
BH = pd.merge(BH, end, on=['종목코드','종목명','연도'])
BL = pd.merge(BL, end, on=['종목코드','종목명','연도'])
SH = pd.merge(SH, end, on=['종목코드','종목명','연도'])
SL = pd.merge(SL, end, on=['종목코드','종목명','연도'])

In [243]:
BDH = pd.merge(BDH, end, on=['종목코드','종목명','연도'])
BDL = pd.merge(BDL, end, on=['종목코드','종목명','연도'])
SDH = pd.merge(SDH, end, on=['종목코드','종목명','연도'])
SDL = pd.merge(SDL, end, on=['종목코드','종목명','연도'])

BDH

,종목코드,배당성향,연도,종목명,기업구분,PBR,1/PBR,배당,sell_rtn,Date
0,97230,74.97,2007,HJ중공업,B,3.482819,L,DH,NaN,2007-08-31
1,97230,74.97,2007,HJ중공업,B,3.482819,L,DH,0.093174,2007-09-30
2,97230,74.97,2007,HJ중공업,B,3.482819,L,DH,-0.085232,2007-10-31
3,97230,74.97,2007,HJ중공업,B,3.482819,L,DH,0.216162,2007-11-30
4,97230,74.97,2007,HJ중공업,B,3.482819,L,DH,-0.236981,2007-12-31
...,...,...,...,...,...,...,...,...,...,...
6262,14820,29.58,2022,동원시스템즈,B,1.613210,L,DH,0.012821,2022-08-31
6263,14820,29.58,2022,동원시스템즈,B,1.613210,L,DH,-0.077758,2022-09-30
6264,14820,29.58,2022,동원시스템즈,B,1.613210,L,DH,-0.084314,2022-10-31
6265,14820,29.58,2022,동원시스템즈,B,1.613210,L,DH,-0.007495,2022-11-30
6266,14820,29.58,2022,동원시스템즈,B,1.613210,L,DH,0.089536,2022-12-31

In [260]:
HDH = pd.merge(HDH, end, on=['종목코드','종목명','연도'])
HDL = pd.merge(HDL, end, on=['종목코드','종목명','연도'])
LDH = pd.merge(LDH, end, on=['종목코드','종목명','연도'])
LDL = pd.merge(LDL, end, on=['종목코드','종목명','연도'])

In [157]:
BH

      종목코드  배당성향    연도    종목명 기업구분       PBR 1/PBR  sell_rtn        Date
0      990   0.0  2007  DB하이텍    B  0.429062     H -0.058005  2007-01-31
1      990   0.0  2007  DB하이텍    B  0.429062     H -0.133005  2007-02-28
2      990   0.0  2007  DB하이텍    B  0.429062     H  0.036932  2007-03-31
3      990   0.0  2007  DB하이텍    B  0.429062     H  0.024658  2007-04-30
4      990   0.0  2007  DB하이텍    B  0.429062     H  0.173797  2007-05-31
...    ...   ...   ...    ...  ...       ...   ...       ...         ...
8197  4020   0.0  2023   현대제철    B  0.249834     H  0.070073  2023-08-31
8198  4020   0.0  2023   현대제철    B  0.249834     H  0.036835  2023-09-30
8199  4020   0.0  2023   현대제철    B  0.249834     H -0.035526  2023-10-31
8200  4020   0.0  2023   현대제철    B  0.249834     H -0.090041  2023-11-30
8201  4020   0.0  2023   현대제철    B  0.249834     H  0.046477  2023-12-31

[8202 rows x 9 columns]

In [158]:
import numpy as np

# def weighted_average(group, avg_name, weight_name):
def weighted_average(group, avg_name, _name):
    d = group[avg_name]
    # w = group[weight_name]
    w = group[_name]
    try:
        # return (d * w).sum() / w.sum()
        return d.sum() / w.nunique()
    except ZeroDivisionError:
        return np.nan

In [261]:
HDH_avgRtn = HDH.groupby(['Date']).apply(weighted_average, 'sell_rtn', '종목명').to_frame().reset_index().rename(columns={0:'HDH_avgRtn'})
HDL_avgRtn = HDL.groupby(['Date']).apply(weighted_average, 'sell_rtn', '종목명').to_frame().reset_index().rename(columns={0:'HDL_avgRtn'})
LDH_avgRtn = LDH.groupby(['Date']).apply(weighted_average, 'sell_rtn', '종목명').to_frame().reset_index().rename(columns={0:'LDH_avgRtn'})
LDL_avgRtn = LDL.groupby(['Date']).apply(weighted_average, 'sell_rtn', '종목명').to_frame().reset_index().rename(columns={0:'LDL_avgRtn'})

/var/folders/lj/ms0l79910fz22cg2hchczhw40000gn/T/ipykernel_99995/359836488.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  HDH_avgRtn = HDH.groupby(['Date']).apply(weighted_average, 'sell_rtn', '종목명').to_frame().reset_index().rename(columns={0:'HDH_avgRtn'})
/var/folders/lj/ms0l79910fz22cg2hchczhw40000gn/T/ipykernel_99995/359836488.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  HDL_avgRtn = HDL.groupby(['Date']).apply(weighted_average, 'sell_rtn', '종목명').to_frame().reset_index().rename(columns={0:'HDL_avgRtn'})
/var/folders/lj/ms0l79910fz22cg2hchczhw40000gn/T/ipykernel_99995/359836488.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  LDH_avgRtn = LDH.groupby(['Date']).apply(weighted_average, 'sell_rtn', '종목명').to_frame().reset_index().rename(columns={0:'LDH_avgRtn'})
/var/folders/lj/ms0l79910fz22cg2hchczhw40000gn/T/ipykernel_99995/359836488.py:4: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  LDL_avgRtn = LDL.groupby(['Date']).apply(weighted_average, 'sell_rtn', '종목명').to_frame().reset_index().rename(columns={0:'LDL_avgRtn'})

In [244]:
BDH_avgRtn = BDH.groupby(['Date']).apply(weighted_average, 'sell_rtn', '종목명').to_frame().reset_index().rename(columns={0:'BDH_avgRtn'})
BDL_avgRtn = BDL.groupby(['Date']).apply(weighted_average, 'sell_rtn', '종목명').to_frame().reset_index().rename(columns={0:'BDL_avgRtn'})
SDH_avgRtn = SDH.groupby(['Date']).apply(weighted_average, 'sell_rtn', '종목명').to_frame().reset_index().rename(columns={0:'SDH_avgRtn'})
SDL_avgRtn = SDL.groupby(['Date']).apply(weighted_average, 'sell_rtn', '종목명').to_frame().reset_index().rename(columns={0:'SDL_avgRtn'})

/var/folders/lj/ms0l79910fz22cg2hchczhw40000gn/T/ipykernel_99995/1693614487.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  BDH_avgRtn = BDH.groupby(['Date']).apply(weighted_average, 'sell_rtn', '종목명').to_frame().reset_index().rename(columns={0:'BDH_avgRtn'})
/var/folders/lj/ms0l79910fz22cg2hchczhw40000gn/T/ipykernel_99995/1693614487.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  BDL_avgRtn = BDL.groupby(['Date']).apply(weighted_average, 'sell_rtn', '종목명').to_frame().reset_index().rename(columns={0:'BDL_avgRtn'})
/var/folders/lj/ms0l79910fz22cg2hchczhw40000gn/T/ipykernel_99995/1693614487.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  SDH_avgRtn = SDH.groupby(['Date']).apply(weighted_average, 'sell_rtn', '종목명').to_frame().reset_index().rename(columns={0:'SDH_avgRtn'})
/var/folders/lj/ms0l79910fz22cg2hchczhw40000gn/T/ipykernel_99995/1693614487.py:4: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  SDL_avgRtn = SDL.groupby(['Date']).apply(weighted_average, 'sell_rtn', '종목명').to_frame().reset_index().rename(columns={0:'SDL_avgRtn'})

In [159]:
# 날짜별 평균치

BH_avgRtn = BH.groupby(['Date']).apply(weighted_average, 'sell_rtn', '종목명').to_frame().reset_index().rename(columns={0:'BH_avgRtn'})
BL_avgRtn = BL.groupby(['Date']).apply(weighted_average, 'sell_rtn', '종목명').to_frame().reset_index().rename(columns={0:'BL_avgRtn'})
SH_avgRtn = SH.groupby(['Date']).apply(weighted_average, 'sell_rtn', '종목명').to_frame().reset_index().rename(columns={0:'SH_avgRtn'})
SL_avgRtn = SL.groupby(['Date']).apply(weighted_average, 'sell_rtn', '종목명').to_frame().reset_index().rename(columns={0:'SL_avgRtn'})

/var/folders/lj/ms0l79910fz22cg2hchczhw40000gn/T/ipykernel_99995/3061062199.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  BH_avgRtn = BH.groupby(['Date']).apply(weighted_average, 'sell_rtn', '종목명').to_frame().reset_index().rename(columns={0:'BH_avgRtn'})
/var/folders/lj/ms0l79910fz22cg2hchczhw40000gn/T/ipykernel_99995/3061062199.py:4: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  BL_avgRtn = BL.groupby(['Date']).apply(weighted_average, 'sell_rtn', '종목명').to_frame().reset_index().rename(columns={0:'BL_avgRtn'})
/var/folders/lj/ms0l79910fz22cg2hchczhw40000gn/T/ipykernel_99995/3061062199.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  SH_avgRtn = SH.groupby(['Date']).apply(weighted_average, 'sell_rtn', '종목명').to_frame().reset_index().rename(columns={0:'SH_avgRtn'})
/var/folders/lj/ms0l79910fz22cg2hchczhw40000gn/T/ipykernel_99995/3061062199.py:6: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  SL_avgRtn = SL.groupby(['Date']).apply(weighted_average, 'sell_rtn', '종목명').to_frame().reset_index().rename(columns={0:'SL_avgRtn'})

In [262]:
from functools import reduce

avgRtn_list = [BH_avgRtn, BL_avgRtn, SH_avgRtn, SL_avgRtn, BDH_avgRtn, BDL_avgRtn, SDH_avgRtn, SDL_avgRtn, HDH_avgRtn, HDL_avgRtn, LDH_avgRtn, LDL_avgRtn]
avgRtn = reduce(lambda left, right: pd.merge(left, right, on='Date'), avgRtn_list)
# pd.merge([BH_pbr_avgRtn, BL_pbr_avgRtn, SH_pbr_avgRtn, SL_pbr_avgRtn], on='Date',axis=1)
avgRtn

,Date,BH_avgRtn,BL_avgRtn,SH_avgRtn,SL_avgRtn,BDH_avgRtn,BDL_avgRtn,SDH_avgRtn,SDL_avgRtn,HDH_avgRtn,HDL_avgRtn,LDH_avgRtn,LDL_avgRtn
0,2007-01-31,-0.009333,-0.013218,-0.034468,-0.011113,-0.021936,-0.008696,-0.008496,-0.031541,-0.030158,-0.031937,0.009807,-0.019916
1,2007-02-28,-0.072702,-0.046897,-0.035410,-0.043808,-0.051050,-0.052666,-0.053817,-0.032770,-0.054661,-0.033334,-0.051327,-0.042050
2,2007-03-31,0.011695,0.038785,0.047344,0.072730,0.031440,0.031816,0.040674,0.065572,0.029142,0.050246,0.049295,0.063154
3,2007-04-30,0.072345,0.063045,0.083241,0.083787,0.067332,0.064101,0.112350,0.071754,0.097734,0.074987,0.105287,0.064985
4,2007-05-31,0.162974,0.121004,0.101656,0.062188,0.109713,0.142777,0.055647,0.096584,0.069759,0.125824,0.069005,0.092224
...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,2022-08-31,0.019775,0.067486,0.063608,0.091663,0.015188,0.058728,0.057080,0.076903,0.050720,0.059240,0.034799,0.096523
188,2022-09-30,0.005676,0.019265,-0.017753,-0.015154,0.005298,0.016348,0.003273,-0.024912,-0.001733,-0.019718,0.019604,-0.008935
189,2022-10-31,-0.084461,-0.072500,-0.116689,-0.117272,-0.051916,-0.090011,-0.090044,-0.127249,-0.087331,-0.122841,-0.060935,-0.112346
190,2022-11-30,0.006923,0.026147,0.007606,0.005486,0.008800,0.020925,0.004158,0.008130,-0.000967,0.011480,0.023366,0.010068
191,2022-12-31,0.061006,0.071745,0.102038,0.116419,0.064676,0.067636,0.096902,0.109547,0.089454,0.098194,0.087100,0.103854

In [263]:
avgRtn['Date'] = pd.to_datetime(avgRtn['Date'], format='%Y-%m-%d')
avgRtn['Date']

0     2007-01-31
1     2007-02-28
2     2007-03-31
3     2007-04-30
4     2007-05-31
         ...
187   2022-08-31
188   2022-09-30
189   2022-10-31
190   2022-11-30
191   2022-12-31
Name: Date, Length: 192, dtype: datetime64[ns]

In [264]:
avgRtn = avgRtn.set_index(avgRtn['Date']).drop(columns='Date')
avgRtn['연도'] = avgRtn.index.year
avgRtn

,BH_avgRtn,BL_avgRtn,SH_avgRtn,SL_avgRtn,BDH_avgRtn,BDL_avgRtn,SDH_avgRtn,SDL_avgRtn,HDH_avgRtn,HDL_avgRtn,LDH_avgRtn,LDL_avgRtn,연도
Date,,,,,,,,,,,,,
2007-01-31,-0.009333,-0.013218,-0.034468,-0.011113,-0.021936,-0.008696,-0.008496,-0.031541,-0.030158,-0.031937,0.009807,-0.019916,2007
2007-02-28,-0.072702,-0.046897,-0.035410,-0.043808,-0.051050,-0.052666,-0.053817,-0.032770,-0.054661,-0.033334,-0.051327,-0.042050,2007
2007-03-31,0.011695,0.038785,0.047344,0.072730,0.031440,0.031816,0.040674,0.065572,0.029142,0.050246,0.049295,0.063154,2007
2007-04-30,0.072345,0.063045,0.083241,0.083787,0.067332,0.064101,0.112350,0.071754,0.097734,0.074987,0.105287,0.064985,2007
2007-05-31,0.162974,0.121004,0.101656,0.062188,0.109713,0.142777,0.055647,0.096584,0.069759,0.125824,0.069005,0.092224,2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-31,0.019775,0.067486,0.063608,0.091663,0.015188,0.058728,0.057080,0.076903,0.050720,0.059240,0.034799,0.096523,2022
2022-09-30,0.005676,0.019265,-0.017753,-0.015154,0.005298,0.016348,0.003273,-0.024912,-0.001733,-0.019718,0.019604,-0.008935,2022
2022-10-31,-0.084461,-0.072500,-0.116689,-0.117272,-0.051916,-0.090011,-0.090044,-0.127249,-0.087331,-0.122841,-0.060935,-0.112346,2022
2022-11-30,0.006923,0.026147,0.007606,0.005486,0.008800,0.020925,0.004158,0.008130,-0.000967,0.011480,0.023366,0.010068,2022
2022-12-31,0.061006,0.071745,0.102038,0.116419,0.064676,0.067636,0.096902,0.109547,0.089454,0.098194,0.087100,0.103854,2022

In [265]:
avgRtn.reset_index(inplace=True)
avgRtn

,Date,BH_avgRtn,BL_avgRtn,SH_avgRtn,SL_avgRtn,BDH_avgRtn,BDL_avgRtn,SDH_avgRtn,SDL_avgRtn,HDH_avgRtn,HDL_avgRtn,LDH_avgRtn,LDL_avgRtn,연도
0,2007-01-31,-0.009333,-0.013218,-0.034468,-0.011113,-0.021936,-0.008696,-0.008496,-0.031541,-0.030158,-0.031937,0.009807,-0.019916,2007
1,2007-02-28,-0.072702,-0.046897,-0.035410,-0.043808,-0.051050,-0.052666,-0.053817,-0.032770,-0.054661,-0.033334,-0.051327,-0.042050,2007
2,2007-03-31,0.011695,0.038785,0.047344,0.072730,0.031440,0.031816,0.040674,0.065572,0.029142,0.050246,0.049295,0.063154,2007
3,2007-04-30,0.072345,0.063045,0.083241,0.083787,0.067332,0.064101,0.112350,0.071754,0.097734,0.074987,0.105287,0.064985,2007
4,2007-05-31,0.162974,0.121004,0.101656,0.062188,0.109713,0.142777,0.055647,0.096584,0.069759,0.125824,0.069005,0.092224,2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,2022-08-31,0.019775,0.067486,0.063608,0.091663,0.015188,0.058728,0.057080,0.076903,0.050720,0.059240,0.034799,0.096523,2022
188,2022-09-30,0.005676,0.019265,-0.017753,-0.015154,0.005298,0.016348,0.003273,-0.024912,-0.001733,-0.019718,0.019604,-0.008935,2022
189,2022-10-31,-0.084461,-0.072500,-0.116689,-0.117272,-0.051916,-0.090011,-0.090044,-0.127249,-0.087331,-0.122841,-0.060935,-0.112346,2022
190,2022-11-30,0.006923,0.026147,0.007606,0.005486,0.008800,0.020925,0.004158,0.008130,-0.000967,0.011480,0.023366,0.010068,2022
191,2022-12-31,0.061006,0.071745,0.102038,0.116419,0.064676,0.067636,0.096902,0.109547,0.089454,0.098194,0.087100,0.103854,2022

In [266]:
avgRtn

,Date,BH_avgRtn,BL_avgRtn,SH_avgRtn,SL_avgRtn,BDH_avgRtn,BDL_avgRtn,SDH_avgRtn,SDL_avgRtn,HDH_avgRtn,HDL_avgRtn,LDH_avgRtn,LDL_avgRtn,연도
0,2007-01-31,-0.009333,-0.013218,-0.034468,-0.011113,-0.021936,-0.008696,-0.008496,-0.031541,-0.030158,-0.031937,0.009807,-0.019916,2007
1,2007-02-28,-0.072702,-0.046897,-0.035410,-0.043808,-0.051050,-0.052666,-0.053817,-0.032770,-0.054661,-0.033334,-0.051327,-0.042050,2007
2,2007-03-31,0.011695,0.038785,0.047344,0.072730,0.031440,0.031816,0.040674,0.065572,0.029142,0.050246,0.049295,0.063154,2007
3,2007-04-30,0.072345,0.063045,0.083241,0.083787,0.067332,0.064101,0.112350,0.071754,0.097734,0.074987,0.105287,0.064985,2007
4,2007-05-31,0.162974,0.121004,0.101656,0.062188,0.109713,0.142777,0.055647,0.096584,0.069759,0.125824,0.069005,0.092224,2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,2022-08-31,0.019775,0.067486,0.063608,0.091663,0.015188,0.058728,0.057080,0.076903,0.050720,0.059240,0.034799,0.096523,2022
188,2022-09-30,0.005676,0.019265,-0.017753,-0.015154,0.005298,0.016348,0.003273,-0.024912,-0.001733,-0.019718,0.019604,-0.008935,2022
189,2022-10-31,-0.084461,-0.072500,-0.116689,-0.117272,-0.051916,-0.090011,-0.090044,-0.127249,-0.087331,-0.122841,-0.060935,-0.112346,2022
190,2022-11-30,0.006923,0.026147,0.007606,0.005486,0.008800,0.020925,0.004158,0.008130,-0.000967,0.011480,0.023366,0.010068,2022
191,2022-12-31,0.061006,0.071745,0.102038,0.116419,0.064676,0.067636,0.096902,0.109547,0.089454,0.098194,0.087100,0.103854,2022

In [267]:
smb = []
hml = []
dhmdl = []

for i in avgRtn.index :
    SMB = ((avgRtn.loc[i]['SH_avgRtn']) + (avgRtn.loc[i]['SL_avgRtn'])) - ((avgRtn.loc[i]['BH_avgRtn']) + (avgRtn.loc[i]['BL_avgRtn'])) / 2
    smb.append(SMB)
    HML = ((avgRtn.loc[i]['SH_avgRtn']) + (avgRtn.loc[i]['BH_avgRtn'])) - ((avgRtn.loc[i]['SL_avgRtn']) + (avgRtn.loc[i]['BL_avgRtn'])) / 2
    hml.append(HML)
    DHMDL = ((avgRtn.loc[i]['SDH_avgRtn']) + (avgRtn.loc[i]['BDH_avgRtn'])) - ((avgRtn.loc[i]['SDL_avgRtn']) + (avgRtn.loc[i]['BDL_avgRtn'])) / 2
    dhmdl.append(DHMDL)

avgRtn['SMB'] = smb
avgRtn['HML'] = hml
avgRtn['DHMDL'] = dhmdl

avgRtn

,Date,BH_avgRtn,BL_avgRtn,SH_avgRtn,SL_avgRtn,BDH_avgRtn,BDL_avgRtn,SDH_avgRtn,SDL_avgRtn,HDH_avgRtn,HDL_avgRtn,LDH_avgRtn,LDL_avgRtn,연도,SMB,HML,DHMDL
0,2007-01-31,-0.009333,-0.013218,-0.034468,-0.011113,-0.021936,-0.008696,-0.008496,-0.031541,-0.030158,-0.031937,0.009807,-0.019916,2007,-0.034305,-0.031635,-0.010314
1,2007-02-28,-0.072702,-0.046897,-0.035410,-0.043808,-0.051050,-0.052666,-0.053817,-0.032770,-0.054661,-0.033334,-0.051327,-0.042050,2007,-0.019418,-0.062759,-0.062150
2,2007-03-31,0.011695,0.038785,0.047344,0.072730,0.031440,0.031816,0.040674,0.065572,0.029142,0.050246,0.049295,0.063154,2007,0.094834,0.003281,0.023420
3,2007-04-30,0.072345,0.063045,0.083241,0.083787,0.067332,0.064101,0.112350,0.071754,0.097734,0.074987,0.105287,0.064985,2007,0.099334,0.082170,0.111754
4,2007-05-31,0.162974,0.121004,0.101656,0.062188,0.109713,0.142777,0.055647,0.096584,0.069759,0.125824,0.069005,0.092224,2007,0.021855,0.173034,0.045681
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,2022-08-31,0.019775,0.067486,0.063608,0.091663,0.015188,0.058728,0.057080,0.076903,0.050720,0.059240,0.034799,0.096523,2022,0.111640,0.003808,0.004452
188,2022-09-30,0.005676,0.019265,-0.017753,-0.015154,0.005298,0.016348,0.003273,-0.024912,-0.001733,-0.019718,0.019604,-0.008935,2022,-0.045377,-0.014133,0.012852
189,2022-10-31,-0.084461,-0.072500,-0.116689,-0.117272,-0.051916,-0.090011,-0.090044,-0.127249,-0.087331,-0.122841,-0.060935,-0.112346,2022,-0.155481,-0.106264,-0.033329
190,2022-11-30,0.006923,0.026147,0.007606,0.005486,0.008800,0.020925,0.004158,0.008130,-0.000967,0.011480,0.023366,0.010068,2022,-0.003444,-0.001288,-0.001569
191,2022-12-31,0.061006,0.071745,0.102038,0.116419,0.064676,0.067636,0.096902,0.109547,0.089454,0.098194,0.087100,0.103854,2022,0.152082,0.068962,0.072987

In [271]:
avgRtn.columns = ['Date', 'BH_avgRtn', 'BL_avgRtn', 'SH_avgRtn', 'SL_avgRtn',
       'BDH_avgRtn', 'BDL_avgRtn', 'SDH_avgRtn', 'SDL_avgRtn', 'PHDH_avgRtn',
       'PHDL_avgRtn', 'PLDH_avgRtn', 'PLDL_avgRtn', '연도', 'SMB', 'HML', 'DHMDL']
avgRtn

,Date,BH_avgRtn,BL_avgRtn,SH_avgRtn,SL_avgRtn,BDH_avgRtn,BDL_avgRtn,SDH_avgRtn,SDL_avgRtn,PHDH_avgRtn,PHDL_avgRtn,PLDH_avgRtn,PLDL_avgRtn,연도,SMB,HML,DHMDL
0,2007-01-31,-0.009333,-0.013218,-0.034468,-0.011113,-0.021936,-0.008696,-0.008496,-0.031541,-0.030158,-0.031937,0.009807,-0.019916,2007,-0.034305,-0.031635,-0.010314
1,2007-02-28,-0.072702,-0.046897,-0.035410,-0.043808,-0.051050,-0.052666,-0.053817,-0.032770,-0.054661,-0.033334,-0.051327,-0.042050,2007,-0.019418,-0.062759,-0.062150
2,2007-03-31,0.011695,0.038785,0.047344,0.072730,0.031440,0.031816,0.040674,0.065572,0.029142,0.050246,0.049295,0.063154,2007,0.094834,0.003281,0.023420
3,2007-04-30,0.072345,0.063045,0.083241,0.083787,0.067332,0.064101,0.112350,0.071754,0.097734,0.074987,0.105287,0.064985,2007,0.099334,0.082170,0.111754
4,2007-05-31,0.162974,0.121004,0.101656,0.062188,0.109713,0.142777,0.055647,0.096584,0.069759,0.125824,0.069005,0.092224,2007,0.021855,0.173034,0.045681
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,2022-08-31,0.019775,0.067486,0.063608,0.091663,0.015188,0.058728,0.057080,0.076903,0.050720,0.059240,0.034799,0.096523,2022,0.111640,0.003808,0.004452
188,2022-09-30,0.005676,0.019265,-0.017753,-0.015154,0.005298,0.016348,0.003273,-0.024912,-0.001733,-0.019718,0.019604,-0.008935,2022,-0.045377,-0.014133,0.012852
189,2022-10-31,-0.084461,-0.072500,-0.116689,-0.117272,-0.051916,-0.090011,-0.090044,-0.127249,-0.087331,-0.122841,-0.060935,-0.112346,2022,-0.155481,-0.106264,-0.033329
190,2022-11-30,0.006923,0.026147,0.007606,0.005486,0.008800,0.020925,0.004158,0.008130,-0.000967,0.011480,0.023366,0.010068,2022,-0.003444,-0.001288,-0.001569
191,2022-12-31,0.061006,0.071745,0.102038,0.116419,0.064676,0.067636,0.096902,0.109547,0.089454,0.098194,0.087100,0.103854,2022,0.152082,0.068962,0.072987

In [268]:
# avgRtn.drop(columns='index', inplace=True)
# avgRtn

KeyError: "['index'] not found in axis"

In [165]:
avgRtn.to_csv('csv/avgRtn.csv')

In [166]:
rf = pd.read_csv('csv/mkt_rf.csv', index_col=0)
rf

           Date   mkt_rtn        rf
0    2001-02-28 -0.064427 -0.012259
1    2001-03-31 -0.094932  0.085106
2    2001-04-30  0.103475  0.031046
3    2001-05-31  0.060274 -0.072900
4    2001-06-30 -0.027819 -0.020513
..          ...       ...       ...
270  2023-08-31 -0.028987 -0.006529
271  2023-09-30 -0.035677  0.046000
272  2023-10-31 -0.075892  0.021579
273  2023-11-30  0.112950 -0.023262
274  2023-12-31  0.047328 -0.059951

[275 rows x 3 columns]

In [167]:
rf['rm_rf'] = rf['mkt_rtn'] - rf['rf']
rf

           Date   mkt_rtn        rf     rm_rf
0    2001-02-28 -0.064427 -0.012259 -0.052168
1    2001-03-31 -0.094932  0.085106 -0.180038
2    2001-04-30  0.103475  0.031046  0.072429
3    2001-05-31  0.060274 -0.072900  0.133174
4    2001-06-30 -0.027819 -0.020513 -0.007307
..          ...       ...       ...       ...
270  2023-08-31 -0.028987 -0.006529 -0.022458
271  2023-09-30 -0.035677  0.046000 -0.081677
272  2023-10-31 -0.075892  0.021579 -0.097471
273  2023-11-30  0.112950 -0.023262  0.136213
274  2023-12-31  0.047328 -0.059951  0.107279

[275 rows x 4 columns]

In [168]:
rf_df = rf[71:].reset_index(drop=True)
rf_df

           Date   mkt_rtn        rf     rm_rf
0    2007-01-31 -0.051748  0.014141 -0.065889
1    2007-02-28  0.041986 -0.015936  0.057922
2    2007-03-31  0.024842 -0.014170  0.039012
3    2007-04-30  0.061747  0.043121  0.018625
4    2007-05-31  0.102883  0.001969  0.100914
..          ...       ...       ...       ...
199  2023-08-31 -0.028987 -0.006529 -0.022458
200  2023-09-30 -0.035677  0.046000 -0.081677
201  2023-10-31 -0.075892  0.021579 -0.097471
202  2023-11-30  0.112950 -0.023262  0.136213
203  2023-12-31  0.047328 -0.059951  0.107279

[204 rows x 4 columns]

In [169]:
#avgRtn.set_index('Date',inplace=True)
#rf_df.set_index('Date',inplace=True)

In [272]:
all_data= pd.concat([rf_df,avgRtn],axis=1)
all_data

,Date,mkt_rtn,rf,rm_rf,Date,BH_avgRtn,BL_avgRtn,SH_avgRtn,SL_avgRtn,BDH_avgRtn,...,SDH_avgRtn,SDL_avgRtn,PHDH_avgRtn,PHDL_avgRtn,PLDH_avgRtn,PLDL_avgRtn,연도,SMB,HML,DHMDL
0,2007-01-31,-0.051748,0.014141,-0.065889,2007-01-31,-0.009333,-0.013218,-0.034468,-0.011113,-0.021936,...,-0.008496,-0.031541,-0.030158,-0.031937,0.009807,-0.019916,2007.0,-0.034305,-0.031635,-0.010314
1,2007-02-28,0.041986,-0.015936,0.057922,2007-02-28,-0.072702,-0.046897,-0.035410,-0.043808,-0.051050,...,-0.053817,-0.032770,-0.054661,-0.033334,-0.051327,-0.042050,2007.0,-0.019418,-0.062759,-0.062150
2,2007-03-31,0.024842,-0.014170,0.039012,2007-03-31,0.011695,0.038785,0.047344,0.072730,0.031440,...,0.040674,0.065572,0.029142,0.050246,0.049295,0.063154,2007.0,0.094834,0.003281,0.023420
3,2007-04-30,0.061747,0.043121,0.018625,2007-04-30,0.072345,0.063045,0.083241,0.083787,0.067332,...,0.112350,0.071754,0.097734,0.074987,0.105287,0.064985,2007.0,0.099334,0.082170,0.111754
4,2007-05-31,0.102883,0.001969,0.100914,2007-05-31,0.162974,0.121004,0.101656,0.062188,0.109713,...,0.055647,0.096584,0.069759,0.125824,0.069005,0.092224,2007.0,0.021855,0.173034,0.045681
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,2023-08-31,-0.028987,-0.006529,-0.022458,NaT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,2023-09-30,-0.035677,0.046000,-0.081677,NaT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,2023-10-31,-0.075892,0.021579,-0.097471,NaT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202,2023-11-30,0.112950,-0.023262,0.136213,NaT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,2023-12-31,0.047328,-0.059951,0.107279,NaT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [205]:
all_data_2022 = all_data[all_data["연도"]>=2010]
all_data_2022

,Date,mkt_rtn,rf,rm_rf,Date,BH_avgRtn,BL_avgRtn,SH_avgRtn,SL_avgRtn,연도,SMB,HML
36,2010-01-31,-0.047743,-0.074713,0.026970,2010-01-31,0.091542,0.086371,0.061401,0.089238,2010,0.061682,0.065139
37,2010-02-28,-0.004899,-0.046584,0.041685,2010-02-28,-0.054981,-0.067201,-0.040690,-0.027848,2010,-0.007447,-0.048146
38,2010-03-31,0.061628,-0.120521,0.182149,2010-03-31,0.004775,0.038777,0.023220,0.062046,2010,0.063490,-0.022417
39,2010-04-30,0.028774,-0.018519,0.047293,2010-04-30,0.075291,0.073542,0.105993,0.027616,2010,0.059193,0.130705
40,2010-05-31,-0.057598,0.037736,-0.095334,2010-05-31,0.002831,0.018969,0.030542,0.040685,2010,0.060326,0.003546
...,...,...,...,...,...,...,...,...,...,...,...,...
199,2023-08-31,-0.028987,-0.006529,-0.022458,2023-08-31,-0.005994,0.068008,-0.058725,-0.009205,2023,-0.098937,-0.094121
200,2023-09-30,-0.035677,0.046000,-0.081677,2023-09-30,-0.022020,-0.007306,-0.000752,-0.019215,2023,-0.005304,-0.009511
201,2023-10-31,-0.075892,0.021579,-0.097471,2023-10-31,-0.036748,-0.064692,-0.067011,-0.087741,2023,-0.104032,-0.027543
202,2023-11-30,0.112950,-0.023262,0.136213,2023-11-30,-0.025094,-0.039297,-0.031262,-0.039117,2023,-0.038184,-0.017149
203,2023-12-31,0.047328,-0.059951,0.107279,2023-12-31,0.079740,0.106941,0.065001,0.051751,2023,0.023412,0.065395

In [213]:
all_data_2022_df = all_data_2022[["rm_rf","SMB","HML","BH_avgRtn"]]
all_data_2022_df.reset_index(drop=True,inplace=True)

In [214]:
all_data_2022_df

        rm_rf       SMB       HML  BH_avgRtn
0    0.026970  0.061682  0.065139   0.091542
1    0.041685 -0.007447 -0.048146  -0.054981
2    0.182149  0.063490 -0.022417   0.004775
3    0.047293  0.059193  0.130705   0.075291
4   -0.095334  0.060326  0.003546   0.002831
..        ...       ...       ...        ...
163 -0.022458 -0.098937 -0.094121  -0.005994
164 -0.081677 -0.005304 -0.009511  -0.022020
165 -0.097471 -0.104032 -0.027543  -0.036748
166  0.136213 -0.038184 -0.017149  -0.025094
167  0.107279  0.023412  0.065395   0.079740

[168 rows x 4 columns]

In [215]:
x = all_data_2022_df.drop("BH_avgRtn",axis=1)
y = all_data_2022_df["BH_avgRtn"]

In [216]:
x

        rm_rf       SMB       HML
0    0.026970  0.061682  0.065139
1    0.041685 -0.007447 -0.048146
2    0.182149  0.063490 -0.022417
3    0.047293  0.059193  0.130705
4   -0.095334  0.060326  0.003546
..        ...       ...       ...
163 -0.022458 -0.098937 -0.094121
164 -0.081677 -0.005304 -0.009511
165 -0.097471 -0.104032 -0.027543
166  0.136213 -0.038184 -0.017149
167  0.107279  0.023412  0.065395

[168 rows x 3 columns]

In [217]:
y

0      0.091542
1     -0.054981
2      0.004775
3      0.075291
4      0.002831
         ...
163   -0.005994
164   -0.022020
165   -0.036748
166   -0.025094
167    0.079740
Name: BH_avgRtn, Length: 168, dtype: float64

In [218]:
import statsmodels.api as sm

feature_add = sm.add_constant(x, has_constant='add')

# sm OLS 적합
model = sm.OLS(y , feature_add)
fitted_model = model.fit()

# summary 함수통해 결과출력
fitted_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:              BH_avgRtn   R-squared:                       0.809
Model:                            OLS   Adj. R-squared:                  0.805
Method:                 Least Squares   F-statistic:                     231.3
Date:                Fri, 29 Mar 2024   Prob (F-statistic):           1.11e-58
Time:                        15:34:49   Log-Likelihood:                 380.83
No. Observations:                 168   AIC:                            -753.7
Df Residuals:                     164   BIC:                            -741.2
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0113      0.002      5.418      0.000       0.007       0.015
rm_rf          0.0080      0.021      0.387      0.699      -0.033       0.049
SMB            0.0480      0.031      1.538      0.126      -0.014       0.110
HML            0.7273      0.036     20.185      0.000       0.656       0.798
==============================================================================
Omnibus:                       11.056   Durbin-Watson:                   1.745
Prob(Omnibus):                  0.004   Jarque-Bera (JB):               13.336
Skew:                           0.462   Prob(JB):                      0.00127
Kurtosis:                       4.025   Cond. No.                         21.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [211]:
import statsmodels.api as sm

feature_add = sm.add_constant(x, has_constant='add')

# sm OLS 적합
model = sm.OLS(y , feature_add)
fitted_model = model.fit()

# summary 함수통해 결과출력
fitted_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:              BL_avgRtn   R-squared:                       0.364
Model:                            OLS   Adj. R-squared:                  0.352
Method:                 Least Squares   F-statistic:                     31.30
Date:                Fri, 29 Mar 2024   Prob (F-statistic):           4.72e-16
Time:                        15:32:17   Log-Likelihood:                 285.15
No. Observations:                 168   AIC:                            -562.3
Df Residuals:                     164   BIC:                            -549.8
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0170      0.004      4.613      0.000       0.010       0.024
rm_rf          0.0200      0.036      0.549      0.584      -0.052       0.092
SMB            0.2828      0.055      5.133      0.000       0.174       0.392
HML            0.2255      0.064      3.542      0.001       0.100       0.351
==============================================================================
Omnibus:                        8.343   Durbin-Watson:                   1.761
Prob(Omnibus):                  0.015   Jarque-Bera (JB):                8.135
Skew:                           0.501   Prob(JB):                       0.0171
Kurtosis:                       3.396   Cond. No.                         21.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""