In [1]:
import pandas as pd

rf = pd.read_csv('csv/rf_list.csv')
rf.drop(columns='Unnamed: 0', inplace=True)
rf.set_index(keys='일자', drop=True, inplace=True)
rf.index = pd.to_datetime(rf.index)

rf = rf.resample('M').first()

rf

/var/folders/lj/ms0l79910fz22cg2hchczhw40000gn/T/ipykernel_93785/3313286012.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd
/var/folders/lj/ms0l79910fz22cg2hchczhw40000gn/T/ipykernel_93785/3313286012.py:8: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  rf = rf.resample('M').first()

             국고채권
일자
2001-01-31  6.680
2001-02-28  5.700
2001-03-31  5.680
2001-04-30  6.290
2001-05-31  6.190
...           ...
2023-08-31  3.494
2023-09-30  3.497
2023-10-31  3.757
2023-11-30  3.731
2023-12-31  3.639

[276 rows x 1 columns]

In [2]:
rf.to_csv('csv/rf.csv')