In [38]:
import pandas as pd
rf = pd.read_csv('csv/KOFR.csv')
rf['Date'] = pd.to_datetime(rf['일자'])
rf.drop(columns='일자', inplace=True)
rf = rf.sort_values('Date')
rf.reset_index(drop=True, inplace=True)
rf

      KOFR  30일평균(%)  90일평균(%)  180일평균(%)  KOFR Index       Date
0    3.485   3.41353   3.37471    3.24172  1077.56110 2023-04-03
1    3.420   3.41791   3.38036    3.24627  1077.66398 2023-04-04
2    3.419   3.42015   3.38558    3.25095  1077.76496 2023-04-05
3    3.344   3.42603   3.39111    3.25527  1077.86592 2023-04-06
4    3.303   3.42496   3.39576    3.25916  1077.96467 2023-04-07
..     ...       ...       ...        ...         ...        ...
237  3.550   3.50739   3.56765    3.61488  1115.27971 2024-03-20
238  3.569   3.50214   3.56689    3.61424  1115.38818 2024-03-21
239  3.491   3.49873   3.56622    3.61372  1115.49724 2024-03-22
240  3.409   3.47633   3.56159    3.61099  1115.81731 2024-03-25
241    NaN   3.46381   3.55934    3.60754  1115.92152 2024-03-26

[242 rows x 6 columns]

In [39]:
import yfinance as yf

start_date = '2023-04-01'
end_date = '2024-03-31'

kospi_data = yf.download('^KS11', start=start_date, end=end_date)

[*********************100%%**********************]  1 of 1 completed

In [40]:
kospi_data['Date'] = kospi_data.index
kospi_data.reset_index(drop=True, inplace=True)
kospi_data

,Open,High,Low,Close,Adj Close,Volume,Date
0,2485.810059,2485.810059,2467.590088,2472.340088,2472.340088,807400,2023-04-03
1,2475.870117,2489.709961,2472.790039,2480.510010,2480.510010,830500,2023-04-04
2,2482.610107,2497.610107,2478.669922,2495.209961,2495.209961,630400,2023-04-05
3,2488.000000,2488.000000,2458.500000,2459.229980,2459.229980,749100,2023-04-06
4,2478.639893,2493.060059,2473.889893,2490.409912,2490.409912,584000,2023-04-07
...,...,...,...,...,...,...,...
237,2731.179932,2755.449951,2724.250000,2754.860107,2754.860107,823700,2024-03-21
238,2751.149902,2763.060059,2738.179932,2748.560059,2748.560059,509500,2024-03-22
239,2756.590088,2763.629883,2731.699951,2737.570068,2737.570068,489600,2024-03-25
240,2756.419922,2779.399902,2752.270020,2757.090088,2757.090088,448300,2024-03-26
241,2745.000000,2762.030029,2745.000000,2755.110107,2755.110107,510644,2024-03-27

In [52]:
# stock_returns = kospi_data['Adj Close'].resample('M').last().pct_change().dropna()
# stock_returns

/var/folders/lj/ms0l79910fz22cg2hchczhw40000gn/T/ipykernel_91782/2162501213.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  stock_returns = kospi_data['Adj Close'].resample('M').last().pct_change().dropna()

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'RangeIndex'

In [41]:
kospi_data[kospi_data['Date'] == '2023-04'].tail(1)

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume, Date]
Index: []

In [42]:
# kospi_data['Date'] = kospi_data['Date'].dt.strftime('%Y-%m')
kospi_data[kospi_data['Date'] == '2023-04'].loc[0, 'Close']

KeyError: 0

In [43]:
kospi_data[kospi_data['Date'].between('2023-05-01','2023-05-31')]

,Open,High,Low,Close,Adj Close,Volume,Date
20,2504.010010,2524.419922,2503.209961,2524.389893,2524.389893,700300,2023-05-02
21,2510.189941,2514.370117,2497.830078,2501.399902,2501.399902,887300,2023-05-03
22,2494.820068,2502.139893,2486.090088,2500.939941,2500.939941,809100,2023-05-04
23,2518.530029,2525.840088,2511.129883,2513.209961,2513.209961,653900,2023-05-08
24,2512.340088,2514.810059,2495.629883,2510.060059,2510.060059,750500,2023-05-09
25,2505.959961,2510.129883,2488.419922,2496.510010,2496.510010,634400,2023-05-10
26,2505.570068,2513.820068,2490.080078,2491.000000,2491.000000,646300,2023-05-11
27,2487.350098,2487.350098,2472.449951,2475.419922,2475.419922,797200,2023-05-12
28,2469.800049,2479.350098,2455.989990,2479.350098,2479.350098,483300,2023-05-15
29,2494.399902,2498.540039,2474.899902,2480.239990,2480.239990,627900,2023-05-16
30,2479.649902,2498.370117,2475.020020,2494.659912,2494.659912,563300,2023-05-17
31,2511.090088,2515.399902,2500.010010,2515.399902,2515.399902,571500,2023-05-18
32,2530.830078,2538.310059,2524.889893,2537.790039,2537.790039,569300,2023-05-19
33,2540.030029,2564.090088,2533.500000,2557.080078,2557.080078,590500,2023-05-22
34,2565.800049,2577.320068,2561.100098,2567.550049,2567.550049,573800,2023-05-23
35,2557.110107,2572.209961,2555.040039,2567.449951,2567.449951,1071600,2023-05-24
36,2570.639893,2575.050049,2551.489990,2554.689941,2554.689941,916700,2023-05-25
37,2561.939941,2567.500000,2553.790039,2558.810059,2558.810059,631800,2023-05-26
38,2582.409912,2586.219971,2574.820068,2585.520020,2585.520020,638500,2023-05-30
39,2586.030029,2596.310059,2575.979980,2577.120117,2577.120117,683900,2023-05-31

In [44]:
data = pd.merge(rf, kospi_data, on='Date')
data

,KOFR,30일평균(%),90일평균(%),180일평균(%),KOFR Index,Date,Open,High,Low,Close,Adj Close,Volume
0,3.485,3.41353,3.37471,3.24172,1077.56110,2023-04-03,2485.810059,2485.810059,2467.590088,2472.340088,2472.340088,807400
1,3.420,3.41791,3.38036,3.24627,1077.66398,2023-04-04,2475.870117,2489.709961,2472.790039,2480.510010,2480.510010,830500
2,3.419,3.42015,3.38558,3.25095,1077.76496,2023-04-05,2482.610107,2497.610107,2478.669922,2495.209961,2495.209961,630400
3,3.344,3.42603,3.39111,3.25527,1077.86592,2023-04-06,2488.000000,2488.000000,2458.500000,2459.229980,2459.229980,749100
4,3.303,3.42496,3.39576,3.25916,1077.96467,2023-04-07,2478.639893,2493.060059,2473.889893,2490.409912,2490.409912,584000
...,...,...,...,...,...,...,...,...,...,...,...,...
236,3.550,3.50739,3.56765,3.61488,1115.27971,2024-03-20,2680.699951,2692.520020,2674.090088,2690.139893,2690.139893,720500
237,3.569,3.50214,3.56689,3.61424,1115.38818,2024-03-21,2731.179932,2755.449951,2724.250000,2754.860107,2754.860107,823700
238,3.491,3.49873,3.56622,3.61372,1115.49724,2024-03-22,2751.149902,2763.060059,2738.179932,2748.560059,2748.560059,509500
239,3.409,3.47633,3.56159,3.61099,1115.81731,2024-03-25,2756.590088,2763.629883,2731.699951,2737.570068,2737.570068,489600
240,NaN,3.46381,3.55934,3.60754,1115.92152,2024-03-26,2756.419922,2779.399902,2752.270020,2757.090088,2757.090088,448300

In [45]:
data['rtn'] = data['KOFR'].pct_change()
data['Daily_Return'] = data['Adj Close'].pct_change()

data = data.dropna(axis=0)
data.reset_index(drop=True, inplace=True)

data

/var/folders/lj/ms0l79910fz22cg2hchczhw40000gn/T/ipykernel_91782/3699704170.py:1: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  data['rtn'] = data['KOFR'].pct_change()

,KOFR,30일평균(%),90일평균(%),180일평균(%),KOFR Index,Date,Open,High,Low,Close,Adj Close,Volume,rtn,Daily_Return
0,3.420,3.41791,3.38036,3.24627,1077.66398,2023-04-04,2475.870117,2489.709961,2472.790039,2480.510010,2480.510010,830500,-0.018651,0.003305
1,3.419,3.42015,3.38558,3.25095,1077.76496,2023-04-05,2482.610107,2497.610107,2478.669922,2495.209961,2495.209961,630400,-0.000292,0.005926
2,3.344,3.42603,3.39111,3.25527,1077.86592,2023-04-06,2488.000000,2488.000000,2458.500000,2459.229980,2459.229980,749100,-0.021936,-0.014420
3,3.303,3.42496,3.39576,3.25916,1077.96467,2023-04-07,2478.639893,2493.060059,2473.889893,2490.409912,2490.409912,584000,-0.012261,0.012679
4,3.312,3.40953,3.40837,3.26974,1078.25732,2023-04-10,2491.679932,2519.989990,2490.169922,2512.080078,2512.080078,716200,0.002725,0.008701
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,3.437,3.51660,3.57059,3.61594,1115.17470,2024-03-19,2673.570068,2673.570068,2645.139893,2656.169922,2656.169922,695900,0.026583,-0.011047
235,3.550,3.50739,3.56765,3.61488,1115.27971,2024-03-20,2680.699951,2692.520020,2674.090088,2690.139893,2690.139893,720500,0.032878,0.012789
236,3.569,3.50214,3.56689,3.61424,1115.38818,2024-03-21,2731.179932,2755.449951,2724.250000,2754.860107,2754.860107,823700,0.005352,0.024058
237,3.491,3.49873,3.56622,3.61372,1115.49724,2024-03-22,2751.149902,2763.060059,2738.179932,2748.560059,2748.560059,509500,-0.021855,-0.002287
238,3.409,3.47633,3.56159,3.61099,1115.81731,2024-03-25,2756.590088,2763.629883,2731.699951,2737.570068,2737.570068,489600,-0.023489,-0.003998

In [46]:
# kospi_data['Excess_Return'] = kospi_data['Daily_Return'] - rf_sorted['rtn']
result = []

for i in data.index :
    res = data.loc[i]['Daily_Return'] - data.loc[i]['rtn']
    result.append(res)
data['Excess_Return'] = result
data

/var/folders/lj/ms0l79910fz22cg2hchczhw40000gn/T/ipykernel_91782/226179746.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Excess_Return'] = result

,KOFR,30일평균(%),90일평균(%),180일평균(%),KOFR Index,Date,Open,High,Low,Close,Adj Close,Volume,rtn,Daily_Return,Excess_Return
0,3.420,3.41791,3.38036,3.24627,1077.66398,2023-04-04,2475.870117,2489.709961,2472.790039,2480.510010,2480.510010,830500,-0.018651,0.003305,0.021956
1,3.419,3.42015,3.38558,3.25095,1077.76496,2023-04-05,2482.610107,2497.610107,2478.669922,2495.209961,2495.209961,630400,-0.000292,0.005926,0.006219
2,3.344,3.42603,3.39111,3.25527,1077.86592,2023-04-06,2488.000000,2488.000000,2458.500000,2459.229980,2459.229980,749100,-0.021936,-0.014420,0.007517
3,3.303,3.42496,3.39576,3.25916,1077.96467,2023-04-07,2478.639893,2493.060059,2473.889893,2490.409912,2490.409912,584000,-0.012261,0.012679,0.024940
4,3.312,3.40953,3.40837,3.26974,1078.25732,2023-04-10,2491.679932,2519.989990,2490.169922,2512.080078,2512.080078,716200,0.002725,0.008701,0.005977
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,3.437,3.51660,3.57059,3.61594,1115.17470,2024-03-19,2673.570068,2673.570068,2645.139893,2656.169922,2656.169922,695900,0.026583,-0.011047,-0.037630
235,3.550,3.50739,3.56765,3.61488,1115.27971,2024-03-20,2680.699951,2692.520020,2674.090088,2690.139893,2690.139893,720500,0.032878,0.012789,-0.020088
236,3.569,3.50214,3.56689,3.61424,1115.38818,2024-03-21,2731.179932,2755.449951,2724.250000,2754.860107,2754.860107,823700,0.005352,0.024058,0.018706
237,3.491,3.49873,3.56622,3.61372,1115.49724,2024-03-22,2751.149902,2763.060059,2738.179932,2748.560059,2748.560059,509500,-0.021855,-0.002287,0.019568
238,3.409,3.47633,3.56159,3.61099,1115.81731,2024-03-25,2756.590088,2763.629883,2731.699951,2737.570068,2737.570068,489600,-0.023489,-0.003998,0.019491

In [47]:
data.drop(columns=['30일평균(%)','90일평균(%)','180일평균(%)','KOFR Index','Open','High','Low','Close','Volume'], inplace=True)
data

/var/folders/lj/ms0l79910fz22cg2hchczhw40000gn/T/ipykernel_91782/2077674831.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(columns=['30일평균(%)','90일평균(%)','180일평균(%)','KOFR Index','Open','High','Low','Close','Volume'], inplace=True)

      KOFR       Date    Adj Close       rtn  Daily_Return  Excess_Return
0    3.420 2023-04-04  2480.510010 -0.018651      0.003305       0.021956
1    3.419 2023-04-05  2495.209961 -0.000292      0.005926       0.006219
2    3.344 2023-04-06  2459.229980 -0.021936     -0.014420       0.007517
3    3.303 2023-04-07  2490.409912 -0.012261      0.012679       0.024940
4    3.312 2023-04-10  2512.080078  0.002725      0.008701       0.005977
..     ...        ...          ...       ...           ...            ...
234  3.437 2024-03-19  2656.169922  0.026583     -0.011047      -0.037630
235  3.550 2024-03-20  2690.139893  0.032878      0.012789      -0.020088
236  3.569 2024-03-21  2754.860107  0.005352      0.024058       0.018706
237  3.491 2024-03-22  2748.560059 -0.021855     -0.002287       0.019568
238  3.409 2024-03-25  2737.570068 -0.023489     -0.003998       0.019491

[239 rows x 6 columns]

In [51]:
from pykrx import stock 
code = pd.read_csv('code.csv')

list = []

for i in code.index : 
    data = stock.get_market_ohlcv('20000101','20240331',str(code.loc[i, '종목코드']),'m')
    list.append(data)
list

/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)
/opt/homebrew/lib/python3.11/site-packages/pykrx/stock/stock_api.py:46: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample('M').apply(how)

[Empty DataFrame
 Columns: []
 Index: [],
                 시가      고가      저가      종가       거래량
 날짜
 2016-11-30  133420  184317  124031  152198  32111069
 2016-12-31  151703  153185  137373  149233   6237170
 2017-01-31  149726  162080  148244  159116   3244566
 2017-02-28  160104  174434  153185  162575   4551518
 2017-03-31  163068  197165  158621  170975   4999414
 ...            ...     ...     ...     ...       ...
 2023-11-30  709000  745000  700000  725000    960216
 2023-12-31  725000  760000  698000  760000   1113931
 2024-01-31  760000  845000  739000  840000   1910491
 2024-02-29  829000  878000  772000  774000   1452678
 2024-03-31  777000  880000  768000  836000   1362161

 [89 rows x 5 columns],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
                 시가      고가      저가      종가       거래량
 날짜
 2021-08-31  448500  510000  400500  491500  17668025
 2021-09-30  487000  520000  439000  502000   7067731
 2021-10-31  502000  514000  448000  469500   3910508
 2021-11-30  472000  580000  428000  503000  12318367
 2021-12-31  504000  508000  448500  460000   5656650
 2022-01-31  463000  468500  257500  274500   8915143
 2022-02-28  279000  314500  248500  295000   7161724
 2022-03-31  299000  306500  266500  275500   3917897
 2022-04-30  276500  301000  233000  252000   4219672
 2022-05-31  248000  265000  236000  259500   5560253
 2022-06-30  256500  280000  219000  219000   4762501
 2022-07-31  222000  263000  212500  233500   3791291
 2022-08-31  234000  282000  231000  246500   3147735
 2022-09-30  242500  247000  201500  210000   2586752
 2022-10-31  212000  216000  169500  177500   3403524
 2022-11-30  177500  244500  175500  227000   5180755
 2022-12-31  235500  237500  164500  168000   5718736
 2023-01-31  170500  185300  160500  179300   3295221
 2023-02-28  180200  197100  169000  169800   4043666
 2023-03-31  170300  183800  154000  183500   3856946
 2023-04-30  182300  199000  179800  192100   2902559
 2023-05-31  190200  207000  185100  189100   3084900
 2023-06-30  191500  209000  187200  194800   2045279
 2023-07-31  195000  196800  163200  171800   2179460
 2023-08-31  171000  178400  153600  155000   2571960
 2023-09-30  154300  158000  146000  150600   1650424
 2023-10-31  149300  168800  145900  163800   2059565
 2023-11-30  164500  220500  163900  213000   4064633
 2023-12-31  214000  221500  177000  193600   2735912
 2024-01-31  193500  229000  184400  214500   2344278
 2024-02-29  212000  243500  208500  227000   2110649
 2024-03-31  226500  265000  210500  257000   2470696,
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
                 시가      고가      저가      종가       거래량
 날짜
 2021-11-30  180000  248500  140000  218000  32705341
 2021-12-31  221000  229500  165000  174500  13646290
 2022-01-31  174500  178000  119000  126000   7702560
 2022-02-28  120000  151000  117000  149500   7196744
 2022-03-31  148500  152000  126500  148500   4127468
 2022-04-30  147000  147000  109500  112500   3777453
 2022-05-31  109500  113500   85000  105500   7579493
 2022-06-30  104000  109000   60000   60200  22349505
 2022-07-31   60900   70400   58900   62900   7794139
 2022-08-31   63000   75100   60300   62200  13039707
 2022-09-30   61600   63900   48500   49100   6986652
 2022-10-31   49600   50800   32450   35350  15171277
 2022-11-30   35000   70900   34700   52900  47637815
 2022-12-31   57100   69100   53700   54200  30676375
 2023-01-31   54700   72700   51900   61000  20323485
 2023-02-28   61500   66200   57500   62700  16284320
 2023-03-31   62700   63500   53300   55600   9291984
 2023-04-30   55400   60600   52900   54500   7296878
 2023-05-31   54600   60100   54500   60100   4658849
 2023-06-30   59700   59900   46050   47000   6002102
 2023-07-31   47400   52200   44600   50200   5857110
 2023-08-31   49850   54800   42050   45250   6628876
 2023-09-30   44800   46600   39700   40750   3542989
 2023-10-31   40000   41650   33950   34200   4004700
 2023-11-30   34450   46550   33950   46100   4809281
 2023-12-31   46500   49650   44000   49300   3256991
 2024-01-31   48550   60200   45550   47350  12330837
 2024-02-29   46550   51800   44050   44050   4068650
 2024-03-31   44950   45350   38050   39500   7618998,
                 시가      고가      저가      종가       거래량
 날짜
 2020-10-31  267300  347490  140580  140580  22957594
 2020-11-30  141075  191070  139590  177705  10677089
 2020-12-31  180675  188594  149985  158400   5281331
 2021-01-31  158400  222750  148500  202455  14691967
 2021-02-28  202455  256410  197009  204435   9160322
 2021-03-31  210870  248490  190575  240570   6501038
 2021-04-30  243540  282150  225225  243000  11892220
 2021-05-31  243000  272000  234000  265000   6118017
 2021-06-30  266000  337000  258000  292500  15211210
 2021-07-31  293500  323000  289000  289500   7732645
 2021-08-31  292500  316000  267500  289500   3820451
 2021-09-30  288500  302500  251000  298500   4243329
 2021-10-31  299500  349500  272000  335000   7433086
 2021-11-30  340000  421500  338000  364500   8714285
 2021-12-31  365000  369500  323000  349000   5910551
 2022-01-31  352000  360500  229500  237000   5352186
 2022-02-28  244500  292000  235000  288500   5855045
 2022-03-31  286500  313500  269500  309500   4275361
 2022-04-30  307500  334500  246500  251500   5721062
 2022-05-31  247500  257000  211500  231000   4295037
 2022-06-30  232000  232500  138000  145500  13500502
 2022-07-31  146500  179500  139000  175500   5881750
 2022-08-31  176000  196000  161000  181500   6079368
 2022-09-30  178500  178500  129000  135000   4235650
 2022-10-31  137000  138000  107000  121000   5247165
 2022-11-30  121000  147000  119500  143000   3748122
 2022-12-31  147000  179500  141500  173500   4768146
 2023-01-31  174500  196000  160500  191700   4888793
 2023-02-28  189500  218500  178100  185100   9433637
 2023-03-31  185100  196600  170300  188900   6011601
 2023-04-30  188000  277000  183700  270000   6409612
 2023-05-31  270500  303000  261000  274000   5447221
 2023-06-30  274000  312500  263500  281500   5707398
 2023-07-31  282500  291000  250500  262500   6857864
 2023-08-31  261000  290500  229000  252500   6563398
 2023-09-30  252000  255000  223000  238000   3022079
 2023-10-31  236500  247500  202000  219500   3769643
 2023-11-30  220000  243000  188400  215500  10895089
 2023-12-31  214500  248500  207500  233500   4136315
 2024-01-31  233000  261000  200000  201500   4645660
 2024-02-29  200500  223000  195500  199100   4562092
 2024-03-31  199200  228500  183000  224000   4851456,
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
                 시가      고가      저가      종가       거래량
 날짜
 2017-05-31  165000  171500  138000  152000  20062168
 2017-06-30  152000  161000  141000  155000  10961969
 2017-07-31  155000  156000  142500  143000   3472974
 2017-08-31  143500  157000  123500  154500   7609788
 2017-09-30  153000  159000  145500  151500   4482012
 ...            ...     ...     ...     ...       ...
 2023-11-30   38800   60000   37800   59400   5854723
 2023-12-31   58500   60500   52500   58100   3436383
 2024-01-31   57200   62300   54200   58300   2224195
 2024-02-29   57000   67500   55900   61700   2184310
 2024-03-31   61700   66200   56300   65000   1799254

 [83 rows x 5 columns],
                 시가      고가      저가      종가      거래량
 날짜
 2017-07-31   87100   89700   75700   82100  4943338
 2017-08-31   82500   98500   81000   87300  1809933
 2017-09-30   88000  100500   84300   97000  1931347
 2017-10-31   94700  108500   90500  106000  1596003
 2017-11-30  103500  129500  103000  114500  3078239
 ...            ...     ...     ...     ...      ...
 2023-11-30  119800  130000  116200  117700  1244364
 2023-12-31  116800  118200  107600  116100  1711842
 2024-01-31  114800  118700   89700   91700  7889321
 2024-02-29   91000   99400   89800   92900  4525934
 2024-03-31   93100   95800   90000   92500  5459386

 [81 rows x 5 columns],
 Empty DataFrame
 Columns: []
 Index: [],
                시가     고가     저가     종가      거래량
 날짜
 2017-05-31  82300  90500  65800  81600  3108912
 2017-06-30  80800  85899  73700  77300  3074086
 2017-07-31  78000  88800  77000  88100  1993963
 2017-08-31  88100  97800  85300  88600  2864955
 2017-09-30  89100  89900  79600  85200  1699277
 ...           ...    ...    ...    ...      ...
 2023-11-30  57900  62600  57300  60300  3644218
 2023-12-31  60400  64700  60000  63300  4247443
 2024-01-31  62600  71800  61400  71400  5283905
 2024-02-29  71300  75300  66500  70700  5984064
 2024-03-31  71200  71900  65000  69200  4273220

 [83 rows x 5 columns],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
                시가     고가     저가     종가       거래량
 날짜
 2012-10-31  52000  52300  43200  46000  18912937
 2012-11-30  46000  46800  39300  45850  10824474
 2012-12-31  45350  48400  44850  47000   6718616
 2013-01-31  48000  48050  43600  44700   8047858
 2013-02-28  44750  49350  42900  49300   8788136
 ...           ...    ...    ...    ...       ...
 2023-11-30  38250  46700  37300  45350   7333505
 2023-12-31  45400  48400  42950  45400   6904423
 2024-01-31  44800  52000  43250  51300   5804124
 2024-02-29  51200  59600  47950  54200   6848668
 2024-03-31  53800  56800  49900  56800   4282493

 [138 rows x 5 columns],
 Empty DataFrame
 Columns: []
 Index: [],
                 시가      고가      저가      종가      거래량
 날짜
 2010-07-31   72454   83320   72454   80433   295679
 2010-08-31   79298   89362   69230   88565  1305038
 2010-09-30   88153   97817   80911   92591  1555195
 2010-10-31   93385   94593   76638   79709  1841016
 2010-11-30   79701   80264   69232   77051  1346577
 ...            ...     ...     ...     ...      ...
 2023-11-30  279622  312980  275697  301698   701308
 2023-12-31  301697  353000  298263  352500   997049
 2024-01-31  353500  377000  316000  324000  1605647
 2024-02-29  323500  352500  311500  334000   786144
 2024-03-31  334000  350000  315000  345000   947627

 [165 rows x 5 columns],
                시가     고가     저가     종가       거래량
 날짜
 2016-11-30  36000  38950  33450  33450  35790049
 2016-12-31  33850  37150  32650  35850   9798200
 2017-01-31  35600  38000  34100  37000   7739952
 2017-02-28  36850  38300  34650  36900   8841016
 2017-03-31  37800  40800  35600  36700   7984987
 ...           ...    ...    ...    ...       ...
 2023-11-30  38600  46100  37400  45600   7877936
 2023-12-31  45000  51500  41750  50400   5292468
 2024-01-31  51400  51500  42700  50900   5128772
 2024-02-29  50500  52500  44400  46950   5435159
 2024-03-31  47600  57300  46750  56100   5290038

 [89 rows x 5 columns],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
                시가     고가     저가     종가       거래량
 날짜
 2021-07-31  57000  66700  54900  56400  41678173
 2021-08-31  56800  68900  48650  49000  42156686
 2021-09-30  49350  50600  40400  45150  25695840
 2021-10-31  44750  48000  42000  45800   7328658
 2021-11-30  46050  62700  42600  58400  33611258
 2021-12-31  57700  58500  49950  55900  16975587
 2022-01-31  55200  61000  48150  60500  18100960
 2022-02-28  66000  81000  51300  54600  70354638
 2022-03-31  54400  60000  52500  55800  14321720
 2022-04-30  55800  56200  44550  45600   4860023
 2022-05-31  45250  51100  44200  50000   4800209
 2022-06-30  49800  49850  35600  38850   7110726
 2022-07-31  39250  50000  37500  40300  16464131
 2022-08-31  40300  40600  33400  35150   8246781
 2022-09-30  35000  35000  25950  26600   6105122
 2022-10-31  27150  30050  25050  29550   6494371
 2022-11-30  29700  36050  29200  32900   7304364
 2022-12-31  33400  34500  29100  30150   7244473
 2023-01-31  30150  31100  27400  28600   4385821
 2023-02-28  28400  30100  22700  23000   5503761
 2023-03-31  23200  23550  19700  21100   7821918
 2023-04-30  21000  25450  20100  20800  11480339
 2023-05-31  20650  22100  16450  16930  13891706
 2023-06-30  16930  17760  12080  12230  11063497
 2023-07-31  12360  13690  10990  12950  24574186
 2023-08-31  12840  16210  10560  12510  61503796
 2023-09-30  12510  13410  10900  11370  11296993
 2023-10-31  11300  11360   9570   9640   6784069
 2023-11-30   9690  11910   9690  11360   6142582
 2023-12-31  11500  13600  11130  11440  11227230
 2024-01-31  11440  12140  10340  10390   5576084
 2024-02-29  10390  13210  10350  12550   5185766
 2024-03-31  12590  12850  11000  12090   4964739,
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
                시가     고가     저가     종가      거래량
 날짜
 2014-11-30  18575  18575  14400  14733  3676673
 2014-12-31  14685  14946  11316  12550  9952399
 2015-01-31  12478  13309  11766  12645  3001168
 2015-02-28  12953  14044  12075  13120  3738098
 2015-03-31  13143  18243  13000  16749  8973987
 ...           ...    ...    ...    ...      ...
 2023-11-30  45750  56700  44550  53500  8084196
 2023-12-31  53900  70700  51200  70200  9115669
 2024-01-31  69900  71200  56000  57100  5350510
 2024-02-29  56600  60900  49650  51700  5244061
 2024-03-31  53100  53200  48750  50000  3721872

 [113 rows x 5 columns],
 Empty DataFrame
 Columns: []
 Index: [],
                 시가      고가      저가      종가      거래량
 날짜
 2011-06-30  241000  269000  208000  244500  3156760
 2011-07-31  243000  279000  239500  275000  1975503
 2011-08-31  273500  316000  232500  316000  2233426
 2011-09-30  312000  334000  276000  298000  1576465
 2011-10-31  289000  309000  268000  289500  1397635
 ...            ...     ...     ...     ...      ...
 2023-11-30   73100   80900   72700   75800  2635120
 2023-12-31   75800   78600   72700   76600  1632858
 2024-01-31   76000   83300   67200   77800  5903368
 2024-02-29   76100   88500   72500   74000  7227902
 2024-03-31   74000   74700   68300   68400  2309393

 [154 rows x 5 columns],
 Empty DataFrame
 Columns: []
 Index: [],
                 시가      고가      저가      종가      거래량
 날짜
 2019-03-31   75500   94500   73100   82100  5302722
 2019-04-30   81800   91200   73100   77900  3250466
 2019-05-31   77600   77800   56800   63900  1202319
 2019-06-30   63100   70900   58000   61100   845089
 2019-07-31   61200   61500   50200   51500   931277
 ...            ...     ...     ...     ...      ...
 2023-11-30  132000  196600  130000  185000  4120349
 2023-12-31  183200  216000  163600  211500  3459301
 2024-01-31  212500  214000  147800  148000  3916187
 2024-02-29  150000  161900  147900  149300  2306957
 2024-03-31  150100  151800  141500  151100  1990525

 [61 rows x 5 columns],
 Empty DataFrame
 Columns: []
 Index: [],
                시가     고가     저가     종가       거래량
 날짜
 2013-09-30  10368  18046  10270  16629  28463575
 2013-10-31  16628  16922  13009  13743  16796450
 2013-11-30  14183  14378  11786  14085   9662591
 2013-12-31  15259  16970  13498  16042  16985068
 2014-01-31  16090  23035  15699  22742  16334394
 ...           ...    ...    ...    ...       ...
 2023-11-30  42650  54700  42300  53900   1527417
 2023-12-31  53000  75000  51200  72800   2430870
 2024-01-31  71400  83900  68700  73000   3153027
 2024-02-29  73100  87400  62200  63200   6695021
 2024-03-31  63800  70900  55300  59000   2494773

 [127 rows x 5 columns],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
                시가     고가     저가     종가       거래량
 날짜
 2009-07-31   9800   9800   8030   8350   2954855
 2009-08-31   8450   8790   6940   7780  16597607
 2009-09-30   7850   8820   7210   7410  10975363
 2009-10-31   7460   8830   7220   7770  11346332
 2009-11-30   7560   9480   7560   8950   9058333
 ...           ...    ...    ...    ...       ...
 2023-11-30  55700  56700  43550  43700   2540245
 2023-12-31  43750  47450  43650  45600   1764441
 2024-01-31  45400  49400  40400  47900   1958939
 2024-02-29  48250  52700  44000  44000   2322885
 2024-03-31  44300  44750  40100  40400   1928930

 [177 rows x 5 columns],
 Empty DataFrame
 Columns: []
 Index: [],
 Empty DataFrame
 Columns: []
 Index: [],
                시가     고가     저가     종가       거래량
 날짜
 2019-11-30  10371  11221   9030   9031  36910527
 2019-12-31   9030   9969   8708   9254  10380231
 2020-01-31   9343  10595   7895   8244  22960858
 2020-02-29   8109   8690   7152   7314  10369085
 2020-03-31   7322   7448   4175   6330  15694015
 2020-04-30   6330   8672   6169   7797  29236829
 2020-05-31   7439   7886   7170   7886   9614190
 2020-06-30   7796   9745   7734   7922  47504006
 2020-07-31   7966   9209   7868   8718  12817145
 2020-08-31   8789  10461   8458   9746  22618997
 2020-09-30  10014  13232   9432  10193  58509230
 2020-10-31  10192  10639   9388   9388   6728023
 2020-11-30   9343  11087   9298  11042  14318300
 2020-12-31  11042  16094  10684  15468  42255695
 2021-01-31  15244  18105  14171  14574  47963861
 2021-02-28  14484  20430  14216  18776  57355912
 2021-03-31  19268  20922  15781  19760  48927241
 2021-04-30  19760  20072  17150  17300  28148712
 2021-05-31  17100  18550  16500  17300  16303920
 2021-06-30  17300  18150  16750  17050  16818733
 2021-07-31  17050  18500  16650  16950  19375228
 2021-08-31  17000  20250  16650  19750  53581925
 2021-09-30  19750  20100  17250  17500  25367124
 2021-10-31  17350  18100  16150  16400  17377547
 2021-11-30  16400  17250  14000  14100  17682116
 2021-12-31  14100  16350  13850  16000  11900631
 2022-01-31  16200  18400  14000  14700  23366271
 2022-02-28  15250  15950  14350  15700  10171920
 2022-03-31  15900  16950  15450  16400  15121263
 2022-04-30  16400  16550  15300  15700   8818299
 2022-05-31  15500  16200  14700  15850   8568914
 2022-06-30  15850  17100  12750  13950  13680714
 2022-07-31  14050  14850  11950  14550  13560443
 2022-08-31  14650  16050  14150  15550  19030828
 2022-09-30  15450  16200  10650  11050  19888821
 2022-10-31  11300  11500  10150  11150  10991744
 2022-11-30  11150  12600  11100  11500  11282501
 2022-12-31  11600  11750  10550  10550   8623255
 2023-01-31  10650  13430  10200  13350  22454727
 2023-02-28  13500  14240  12120  12370  20911341
 2023-03-31  12370  13990  11580  13860  14943462
 2023-04-30  13920  15700  13680  14140  22797798
 2023-05-31  14020  14950  13610  14080   8974343
 2023-06-30  14190  15500  13680  14600  15872481
 2023-07-31  14800  17720  14100  15200  57764976
 2023-08-31  15260  15730  12860  13430  16285589
 2023-09-30  13440  13990  12050  12270  13893486
 2023-10-31  12190  13500  11530  12700  19300009
 2023-11-30  12870  16310  12840  16100  24350386
 2023-12-31  15960  17500  15480  17360  20456828
 2024-01-31  17470  19910  15300  15450  45587397
 2024-02-29  15350  18500  14950  16670  35402097
 2024-03-31  16660  19180  16420  17690  30823205,
 Empty DataFrame
 Columns: []
 Index: [],
                시가     고가     저가     종가        거래량
 날짜
 2019-10-31   4160  10106   4160   7575  191011697
 2019-11-30   8016   9910   6946   7722  106145694