In [1]:
import pandas as pd
rf = pd.read_excel('C:\\Users\\SAMSUNG\\Documents\\vscode\\2024\\ML\\해커톤\\CSV\\KOFR.xlsx')
rf.drop([0,1,2],inplace=True)
rf.columns = rf.iloc[0]
rf.drop([3],inplace=True)
rf.set_index('일자', inplace = True)
rf_sorted = rf.sort_values(by='일자', ascending=True)
rf_sorted

C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_8472\2436730233.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

3            KOFR 30일평균(%) 90일평균(%) 180일평균(%)  KOFR Index
일자
2023.04.03  3.485  3.41353  3.37471   3.24172   1077.5611
2023.04.04   3.42  3.41791  3.38036   3.24627  1077.66398
2023.04.05  3.419  3.42015  3.38558   3.25095  1077.76496
2023.04.06  3.344  3.42603  3.39111   3.25527  1077.86592
2023.04.07  3.303  3.42496  3.39576   3.25916  1077.96467
...           ...      ...      ...       ...         ...
2024.03.20   3.55  3.50739  3.56765   3.61488  1115.27971
2024.03.21  3.569  3.50214  3.56689   3.61424  1115.38818
2024.03.22  3.491  3.49873  3.56622   3.61372  1115.49724
2024.03.25  3.409  3.47633  3.56159   3.61099  1115.81731
2024.03.26    NaN  3.46381  3.55934   3.60754  1115.92152

[242 rows x 5 columns]

In [2]:
rf_sorted['rtn'] = rf_sorted['KOFR'].pct_change() * 100
rf_sorted.dropna(inplace=True)

C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_8472\1031276761.py:1: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  rf_sorted['rtn'] = rf_sorted['KOFR'].pct_change() * 100
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_8472\1031276761.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  rf_sorted['rtn'] = rf_sorted['KOFR'].pct_change() * 100

In [4]:
print(rf_sorted.columns)

Index(['KOFR', '30일평균(%)', '90일평균(%)', '180일평균(%)', 'KOFR Index', 'rtn'], dtype='object', name=3)

In [5]:
rtn_column = rf_sorted['rtn']
print(rtn_column)

일자
2023.04.04   -1.865136
2023.04.05   -0.029240
2023.04.06   -2.193624
2023.04.07   -1.226077
2023.04.10    0.272480
                ...
2024.03.19    2.658303
2024.03.20    3.287751
2024.03.21    0.535211
2024.03.22   -2.185486
2024.03.25   -2.348897
Name: rtn, Length: 240, dtype: float64

In [6]:
rtn_column = rf_sorted[['rtn']]
print(rtn_column)

3                rtn
일자
2023.04.04 -1.865136
2023.04.05 -0.029240
2023.04.06 -2.193624
2023.04.07 -1.226077
2023.04.10  0.272480
...              ...
2024.03.19  2.658303
2024.03.20  3.287751
2024.03.21  0.535211
2024.03.22 -2.185486
2024.03.25 -2.348897

[240 rows x 1 columns]

In [7]:
import yfinance as yf
import pandas as pd

# 시작 및 종료 날짜 설정
start_date = '2023-04-01'
end_date = '2024-03-31'

# 코스피 지수에 해당하는 코드는 ^KS11
kospi_data = yf.download('^KS11', start=start_date, end=end_date)

# 일별 수익률 계산
kospi_data['Daily_Return'] = kospi_data['Adj Close'].pct_change() * 100

# NaN 값을 가진 행 제거
kospi_data.dropna(inplace=True)

[*********************100%%**********************]  1 of 1 completed

In [14]:
kospi_data.index

DatetimeIndex(['2023-04-04', '2023-04-05', '2023-04-06', '2023-04-07',
               '2023-04-10', '2023-04-11', '2023-04-12', '2023-04-13',
               '2023-04-14', '2023-04-17',
               ...
               '2024-03-13', '2024-03-14', '2024-03-15', '2024-03-18',
               '2024-03-19', '2024-03-20', '2024-03-21', '2024-03-22',
               '2024-03-25', '2024-03-26'],
              dtype='datetime64[ns]', name='Date', length=240, freq=None)

In [9]:
kospi_data['Excess_Return'] = kospi_data['Daily_Return'] - rf_sorted['rtn']

In [10]:
kospi_data['Excess_Return']

Date
2023-04-04   NaN
2023-04-05   NaN
2023-04-06   NaN
2023-04-07   NaN
2023-04-10   NaN
              ..
2024-03-20   NaN
2024-03-21   NaN
2024-03-22   NaN
2024-03-25   NaN
2024-03-26   NaN
Name: Excess_Return, Length: 240, dtype: float64