In [36]:
import pandas as pd

rf = pd.read_excel('csv/KOFR.xlsx')
rf.drop([0,1,2],inplace=True)
rf.columns = rf.iloc[0]
rf.drop([3],inplace=True)
rf.set_index('일자', inplace = True)
rf_sorted = rf.sort_values(by='일자', ascending=True)
rf_sorted

3            KOFR 30일평균(%) 90일평균(%) 180일평균(%)  KOFR Index
일자
2023.04.03  3.485  3.41353  3.37471   3.24172   1077.5611
2023.04.04   3.42  3.41791  3.38036   3.24627  1077.66398
2023.04.05  3.419  3.42015  3.38558   3.25095  1077.76496
2023.04.06  3.344  3.42603  3.39111   3.25527  1077.86592
2023.04.07  3.303  3.42496  3.39576   3.25916  1077.96467
...           ...      ...      ...       ...         ...
2024.03.20   3.55  3.50739  3.56765   3.61488  1115.27971
2024.03.21  3.569  3.50214  3.56689   3.61424  1115.38818
2024.03.22  3.491  3.49873  3.56622   3.61372  1115.49724
2024.03.25  3.409  3.47633  3.56159   3.61099  1115.81731
2024.03.26    NaN  3.46381  3.55934   3.60754  1115.92152

[242 rows x 5 columns]

In [52]:
rf_sorted.index

RangeIndex(start=0, stop=240, step=1)

In [37]:
rf_sorted['Date'] = rf_sorted.index
rf_sorted['rtn'] = rf_sorted['KOFR'].pct_change() * 100

rf_sorted.dropna(inplace=True)
rf_sorted.reset_index(drop=True, inplace=True)
rf_sorted

/var/folders/lj/ms0l79910fz22cg2hchczhw40000gn/T/ipykernel_85471/3792600857.py:2: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  rf_sorted['rtn'] = rf_sorted['KOFR'].pct_change() * 100
/var/folders/lj/ms0l79910fz22cg2hchczhw40000gn/T/ipykernel_85471/3792600857.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  rf_sorted['rtn'] = rf_sorted['KOFR'].pct_change() * 100

3     KOFR 30일평균(%) 90일평균(%) 180일평균(%)  KOFR Index        Date       rtn
0     3.42  3.41791  3.38036   3.24627  1077.66398  2023.04.04 -1.865136
1    3.419  3.42015  3.38558   3.25095  1077.76496  2023.04.05 -0.029240
2    3.344  3.42603  3.39111   3.25527  1077.86592  2023.04.06 -2.193624
3    3.303  3.42496  3.39576   3.25916  1077.96467  2023.04.07 -1.226077
4    3.312  3.40953  3.40837   3.26974  1078.25732  2023.04.10  0.272480
..     ...      ...      ...       ...         ...         ...       ...
235  3.437   3.5166  3.57059   3.61594   1115.1747  2024.03.19  2.658303
236   3.55  3.50739  3.56765   3.61488  1115.27971  2024.03.20  3.287751
237  3.569  3.50214  3.56689   3.61424  1115.38818  2024.03.21  0.535211
238  3.491  3.49873  3.56622   3.61372  1115.49724  2024.03.22 -2.185486
239  3.409  3.47633  3.56159   3.61099  1115.81731  2024.03.25 -2.348897

[240 rows x 7 columns]

In [30]:
rf_sorted.index

Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
       ...
       231, 232, 233, 234, 235, 236, 237, 238, 239, 240],
      dtype='int64', length=240)

In [29]:
rf_sorted.loc[0]['rtn']

KeyError: 0

In [5]:
rtn_column = rf_sorted['rtn']
print(rtn_column)

일자
2023.04.04   -1.865136
2023.04.05   -0.029240
2023.04.06   -2.193624
2023.04.07   -1.226077
2023.04.10    0.272480
                ...
2024.03.19    2.658303
2024.03.20    3.287751
2024.03.21    0.535211
2024.03.22   -2.185486
2024.03.25   -2.348897
Name: rtn, Length: 240, dtype: float64

In [6]:
rtn_column = rf_sorted[['rtn']]
print(rtn_column)

3                rtn
일자
2023.04.04 -1.865136
2023.04.05 -0.029240
2023.04.06 -2.193624
2023.04.07 -1.226077
2023.04.10  0.272480
...              ...
2024.03.19  2.658303
2024.03.20  3.287751
2024.03.21  0.535211
2024.03.22 -2.185486
2024.03.25 -2.348897

[240 rows x 1 columns]

In [53]:
# pd.merge(rf_sorted, kospi_data, on='Date')

ValueError: You are trying to merge on object and datetime64[ns] columns for key 'Date'. If you wish to proceed you should use pd.concat

In [39]:
import yfinance as yf
import pandas as pd

# 시작 및 종료 날짜 설정
start_date = '2023-04-01'
end_date = '2024-03-31'

# 코스피 지수에 해당하는 코드는 ^KS11
kospi_data = yf.download('^KS11', start=start_date, end=end_date)

# 일별 수익률 계산
# kospi_data['Daily_Return'] = kospi_data['Adj Close'].pct_change() * 100

# NaN 값을 가진 행 제거
# kospi_data.dropna(inplace=True)

[*********************100%%**********************]  1 of 1 completed

In [42]:

# kospi['Daily_Return'] = kospi_data['Adj Close'].pct_change() * 100
# kospi_data['Date'] = kospi_data.index
kospi_data['Daily_Return'] = kospi_data['Adj Close'].pct_change() * 100

kospi_data.dropna(inplace=True)
kospi_data.reset_index(drop=True, inplace=True)

kospi_data

,Open,High,Low,Close,Adj Close,Volume,Date,Daily_Return
0,2475.870117,2489.709961,2472.790039,2480.510010,2480.510010,830500,2023-04-04,0.330453
1,2482.610107,2497.610107,2478.669922,2495.209961,2495.209961,630400,2023-04-05,0.592618
2,2488.000000,2488.000000,2458.500000,2459.229980,2459.229980,749100,2023-04-06,-1.441962
3,2478.639893,2493.060059,2473.889893,2490.409912,2490.409912,584000,2023-04-07,1.267874
4,2491.679932,2519.989990,2490.169922,2512.080078,2512.080078,716200,2023-04-10,0.870145
...,...,...,...,...,...,...,...,...
235,2680.699951,2692.520020,2674.090088,2690.139893,2690.139893,720500,2024-03-20,1.278908
236,2731.179932,2755.449951,2724.250000,2754.860107,2754.860107,823700,2024-03-21,2.405831
237,2751.149902,2763.060059,2738.179932,2748.560059,2748.560059,509500,2024-03-22,-0.228689
238,2756.590088,2763.629883,2731.699951,2737.570068,2737.570068,489600,2024-03-25,-0.399845
239,2756.419922,2779.399902,2752.270020,2757.090088,2757.090088,448301,2024-03-26,0.713042

In [54]:
kospi_data['Date']

0     2023-04-04
1     2023-04-05
2     2023-04-06
3     2023-04-07
4     2023-04-10
         ...
235   2024-03-20
236   2024-03-21
237   2024-03-22
238   2024-03-25
239   2024-03-26
Name: Date, Length: 240, dtype: datetime64[ns]

In [43]:
kospi_data.loc[0]['Daily_Return']

0.33045299532277195

In [44]:
rf_sorted.loc[0]['rtn']

-1.86513629842181

In [51]:
# kospi_data['Excess_Return'] = kospi_data['Daily_Return'] - rf_sorted['rtn']

data = []

for i in kospi_data.index :
    result = kospi_data.loc[i]['Daily_Return'] - rf_sorted.loc[i]['rtn']
    data.append(result)
kospi_data['Excess_Return'] = data
kospi_data

,Open,High,Low,Close,Adj Close,Volume,Date,Daily_Return,Excess_Return
0,2475.870117,2489.709961,2472.790039,2480.510010,2480.510010,830500,2023-04-04,0.330453,2.195589
1,2482.610107,2497.610107,2478.669922,2495.209961,2495.209961,630400,2023-04-05,0.592618,0.621858
2,2488.000000,2488.000000,2458.500000,2459.229980,2459.229980,749100,2023-04-06,-1.441962,0.751662
3,2478.639893,2493.060059,2473.889893,2490.409912,2490.409912,584000,2023-04-07,1.267874,2.493950
4,2491.679932,2519.989990,2490.169922,2512.080078,2512.080078,716200,2023-04-10,0.870145,0.597665
...,...,...,...,...,...,...,...,...,...
235,2680.699951,2692.520020,2674.090088,2690.139893,2690.139893,720500,2024-03-20,1.278908,-1.379395
236,2731.179932,2755.449951,2724.250000,2754.860107,2754.860107,823700,2024-03-21,2.405831,-0.881920
237,2751.149902,2763.060059,2738.179932,2748.560059,2748.560059,509500,2024-03-22,-0.228689,-0.763900
238,2756.590088,2763.629883,2731.699951,2737.570068,2737.570068,489600,2024-03-25,-0.399845,1.785641
239,2756.419922,2779.399902,2752.270020,2757.090088,2757.090088,448301,2024-03-26,0.713042,3.061939

In [19]:

kospi_data

,Open,High,Low,Close,Adj Close,Volume,Date
0,2485.810059,2485.810059,2467.590088,2472.340088,2472.340088,807400,2023-04-03
1,2475.870117,2489.709961,2472.790039,2480.510010,2480.510010,830500,2023-04-04
2,2482.610107,2497.610107,2478.669922,2495.209961,2495.209961,630400,2023-04-05
3,2488.000000,2488.000000,2458.500000,2459.229980,2459.229980,749100,2023-04-06
4,2478.639893,2493.060059,2473.889893,2490.409912,2490.409912,584000,2023-04-07
...,...,...,...,...,...,...,...
236,2680.699951,2692.520020,2674.090088,2690.139893,2690.139893,720500,2024-03-20
237,2731.179932,2755.449951,2724.250000,2754.860107,2754.860107,823700,2024-03-21
238,2751.149902,2763.060059,2738.179932,2748.560059,2748.560059,509500,2024-03-22
239,2756.590088,2763.629883,2731.699951,2737.570068,2737.570068,489600,2024-03-25
240,2756.419922,2779.399902,2752.270020,2757.090088,2757.090088,439471,2024-03-26

In [21]:
kospi_data['Daily_Return'] = kospi_data['Adj Close'].pct_change() * 100
kospi_data

,Open,High,Low,Close,Adj Close,Volume,Date,Daily_Return
0,2485.810059,2485.810059,2467.590088,2472.340088,2472.340088,807400,2023-04-03,NaN
1,2475.870117,2489.709961,2472.790039,2480.510010,2480.510010,830500,2023-04-04,0.330453
2,2482.610107,2497.610107,2478.669922,2495.209961,2495.209961,630400,2023-04-05,0.592618
3,2488.000000,2488.000000,2458.500000,2459.229980,2459.229980,749100,2023-04-06,-1.441962
4,2478.639893,2493.060059,2473.889893,2490.409912,2490.409912,584000,2023-04-07,1.267874
...,...,...,...,...,...,...,...,...
236,2680.699951,2692.520020,2674.090088,2690.139893,2690.139893,720500,2024-03-20,1.278908
237,2731.179932,2755.449951,2724.250000,2754.860107,2754.860107,823700,2024-03-21,2.405831
238,2751.149902,2763.060059,2738.179932,2748.560059,2748.560059,509500,2024-03-22,-0.228689
239,2756.590088,2763.629883,2731.699951,2737.570068,2737.570068,489600,2024-03-25,-0.399845
240,2756.419922,2779.399902,2752.270020,2757.090088,2757.090088,439471,2024-03-26,0.713042

In [5]:
# kospi_data['Excess_Return'] = kospi_data['Daily_Return'] - rf_sorted['rtn']
kospi_data['Daily_Return'].

Date
2023-04-04    0.330453
2023-04-05    0.592618
2023-04-06   -1.441962
2023-04-07    1.267874
2023-04-10    0.870145
                ...
2024-03-20    1.278908
2024-03-21    2.405831
2024-03-22   -0.228689
2024-03-25   -0.399845
2024-03-26    0.713042
Name: Daily_Return, Length: 240, dtype: float64

In [10]:
kospi_data['Excess_Return']

Date
2023-04-04   NaN
2023-04-05   NaN
2023-04-06   NaN
2023-04-07   NaN
2023-04-10   NaN
              ..
2024-03-20   NaN
2024-03-21   NaN
2024-03-22   NaN
2024-03-25   NaN
2024-03-26   NaN
Name: Excess_Return, Length: 240, dtype: float64